/* Grid
----------------------------------------------------
*/

.container {
  margin: 0 auto;
  width: 950px;
  overflow: hidden;  
}







/* Colors
----------------------------------------------------

- black: #111
- orange: #F25F18
	- blue: #4D8FCE
	- green: 8AEA4C
- gray: #AAA
	- dark gray: #4A4742
	- light gray: #ccc;
*/





/* Links
----------------------------------------------------
*/

a, a:visited {
  color: #111;
  text-decoration: none;
}






/* Header
----------------------------------------------------
*/

#header {
	margin: 1.25em 0 5em;
}

#header #tooltips {
	display: none;
}


/* Logo
*/

#header #logo h1 {
  font-weight: bold;
  font-size: 5em;
  letter-spacing: -4px;
}
#header #logo h1 .strapline { 
  font-size: 40%;
  letter-spacing: 0;
  
  padding: 0 .312em;
  vertical-align: super;
}
#header #logo h1 .strapline a, #header #logo h1 .strapline a:visited, #header #logo h1 .strapline a:hover {  
  color: #F25F18;
}


/* Menu
*/

#header #menu {
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 1em 0;
}

#header #menu li {
	font-size: larger;
	margin-right: 1.25em;
}
#header #menu li a:hover {
	border-bottom: 2px solid;
}
#header #menu li.all-products-link {
	display: none;
}


/* Cart
*/

#cart {
	margin: 2.5em 0;
}
#cart ul {
	margin: 0;
	list-style: none;
}
#cart ul li {
	margin-bottom: .312em;
	padding-bottom: .312em;
	border-bottom: 1px solid;
}



/* Startpage
----------------------------------------------------
*/


/* Remove sidebar */
.home .container #content {
	width: 100%;
}
.home .container #sidebar {
	display: none;
}




/* Hot
*/


#home-hot-content #hot-slider {
	width: 710px;
}
#home-hot-content #hot-slider.slider ul li, #home-hot-content #hot-slider.sliderli,
#home-hot-content #hot-slider.slider, #home-hot-content #hot-slider.slider2 { 
	width: 690px !important;
}

#home-hot-content .hot-slider-thumb-menu-wrapper {
	width: 250px;
	height: 512px;
}
#home-hot-content .hot-slider-thumb-menu {
	background: url('img/stripe.png');
}

#home-hot-content #hot-slider-thumbs {
	margin-left: 1.25em;
}
#home-hot-content #hot-slider-thumbs img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
#home-hot-content #hot-slider-thumbs .hot-slider-thumb-menu a:hover {
  border: 2px solid #4A4742 !important;
}
#home-hot-content #hot-slider-thumbs img.ajax-loader {
  width: 32px;
  height: 32px;
  text-align: center;
}
#home-hot-content #hot-slider-thumbs .sc_menu_tooltip {
	position: absolute;
	background: #111;
	color: white;
	font-size: larger;
	padding: 1.25em;
	display: block;
	left: 120px !important;
}


/* Table
*/
#home-hot #info, #noutati #info {
  background: #111;  
  width: 580px;
  height: 5em;
}
#noutati #info {
  width: 100%;
  height: 6em;
  opacity: .9;
}
#home-hot-title, #noutati #home-hot-title {
  top: -35px;
  position: relative;
}
#noutati #home-hot-title {
	top: 0;
}
#noutati #text {
  display: none;
}
#home-hot-title #text, #noutati #home-hot-title #text {
  background: #F25F18;
  color: #e6e2d9;
  font-size: 3.33em;
  text-align: center;
}
#home-hot .arrow-right, #noutati #home-hot .arrow-right  {
  width:0; height:0;
  line-height:0;
  border-top:30px solid transparent;
  border-right:30px solid transparent;
  border-bottom:30px solid transparent;
  border-left:30px solid #F25F18;
}

#home-hot-content table, #noutati  table {
  margin: 0;
  padding: .5em 0;  
  position: relative;
  top: -65px; 
}
#noutati  table {
  top: 0;
}
#home-hot-content table h3, #noutati  table h3 {
  color: #F25F18;
  font-size: large;
  font-weight: bold;
  text-align: right;
  margin: .2em 1em 0 0;
} 
#home-hot-content table p, #noutati  table p {
  display: inline-block;
  margin: .3em 0 0;
}

#home-hot-content table td.small, #noutati  table td.small {
  width: 9em;
}
#home-hot-content table td.excerpt p, #noutati  table td.excerpt p {
  text-align: right;
  margin: .625em 1.6em 0 8em;  
  display: block;
  top: -.5em;
  position: relative;
}
#noutati  table h3, #noutati  table p {
  text-align: left !important;
  margin-left: .3em !important;
}
#home-hot-content table td, #noutati  table td {
  padding: 0;
  margin: .5em;
  vertical-align: middle;
}


#noutati #item {
	width: 45%;
	margin-right: 5%;
	float: left;
  margin-bottom: 10em;
}





/* Bestsellers
*/

#bestsellers {
  margin: 1.7em 0;
}
.bestsellers h3 {
  background: #111;
  color: #F25F18;
  padding: 0.1em 1em;
  margin:0; 
  text-transform: uppercase;  
  font-weight: bold;
}
.bestsellers h3.first {
  padding-top: 1em;
}
.bestsellers h3.last {
  padding-bottom: 1em;
}

#bestsellers #col-0, #bestsellers #col-1 {
	margin-right: 5.6em;
}
#bestsellers #col-2 .items {
  float: right;
  margin-right: 0;
}

.bestsellers .item, .special .item {
  margin-bottom: 6em;
  height: 30em;
}
.bestsellers .item .text, .special .item .text {
  margin: 0;
  padding: 1em 1.5em;
  height: 15em; 
}
.bestsellers .item img, .special .item img {
  width: 270px;
  height: auto;
  cursor: pointer;
  padding: .2em;
}

.special .item {
  width: 40%;
  margin: 0 4%;
  float: left;
}
.special .item a {
  text-decoration: none !important;
}

.bestsellers #info p {
  padding: 1em;
  font-style: italic;
  font-size: larger;  
}
.bestsellers #info a, .bestsellers #info a:visited, .bestsellers #info a:active {
  text-decoration: underline;
}


/* Promo 
*/

#promo {
  margin-top: 4em;
}
#promo #items {
	width: 750px;
}
#promo .item {
  height: 28em;
  margin-bottom: 2em;
  padding: 0 2em;
  width: 130px;
  float: left;
}
#promo img {
  width: 120px;
	height: 120px;
	margin: 0;
	padding: .2em;
	border: 1px solid #ccc;		
	cursor: pointer;
}
#promo  h4 {
  margin: .5em 0;
}
#promo .item .text p {
  width: 90%;
}
#promo  .active {
  border:1px solid #444;	
}
#promo .promo-item-hover {
  border-bottom: 3px solid #F25D18;
  background: #DFDBD0;
}
#promo .navi {
  padding-left: 29%;
}
#promo .arrow-vertical {
  margin-top: 6.5%;
}
#promo .arrow-right {
  width:0; height:0;
  line-height:0;
  border-top:15px solid transparent;
  border-right:15px solid transparent;
  border-bottom:15px solid transparent;
  border-left:15px solid #F25F18;
}
#percent {
  background: #F25F18;
  color: #E6E2D9;  
  text-align: center;
  font-size: 7em;
}
#promo h4.all-products-link {
  margin-top: 2.5em;
}



/* Common elements, present on many pages
------------------------------------------------------
*/


/* New category / tag icons 
*/

#home-tag-icons {
  margin: 10em 0 5em;
}
#home-tag-icons ul {
  list-style: none;
  text-align: center;
}
#home-tag-icons ul li {
  width: 20%;
  margin-right: 5%;
  margin-bottom: 5em;
}
#home-tag-icons ul li.last {
  margin-right: 0;
}
#home-tag-icons ul li img {
  margin-bottom: 1em;
  width: auto;
  height: 100px;
}


/* Footer 
*/

#footer-info {
  margin: 5em 0 0;
  padding-top: 5em; 
}
#footer-info div {
  margin-bottom: 2em; 
}
#footer-info h3, #footer-info h4, #footer-info h5, #footer-info h6, #footer-info p {
  margin-bottom: .5em;
}
#footer-info p {
  margin: 0 1em;
}
#footer-info h4 {
  margin: .5em .8em;
}
#footer-info h6 {
  font-weight: normal;
}
#footer-info dl dt {
  font-weight: normal;
}
#footer {
  margin: 2em 0;
}
#company .date-firma-info {
  display: none;
  background: #DFDBD0;
  padding: 1em;
  line-height: 1.8;
  border: 1px solid #ddd; 
}
#company h3 {
  cursor: pointer;
}
#footer-info #contact ul, #footer-info #company ul {
  list-style-type: none;
}


#footer-subscribe #newsletter {
  margin-top: 2em;
}
#footer-subscribe input.text {
  width: 96%;
  color: #cac1b2;
  margin: 0;
}
#footer-subscribe input.button {
  background: #cac1b2;
  padding: 5px;
  color: #666;
}
#footer-subscribe img {
  width: 72px;
  height: 72px;
}
#footer-subscribe img.youtube {
  width: 115px;
  height: 72px;
}
#footer-subscribe #social img {
  margin-left: .9em;
  margin-top: .5em;
}

#footer .partners img {
	width: auto;
  max-height: 31px;
  margin-left: .5em;
}



/* Subscribe to newsletter, Invite a friend
*/

.campaign-box {
  margin: 2.5em 0;
  width: 88%;
  float: left;
  font-size: larger;
}
.campaign-box #tooltips {
  margin: 2em 0 0; 
  position: absolute;
  width: auto;
  max-width: 300px;
  left: 550px;
  
  font-style: italic;
  background: #8AEA4C;
}
.campaign-box .tooltips-highlighted {
  padding: 1.5em;
}

#subscribe-newsletter {
	background: #4D8FCE;
}
#subscribe-newsletter .arrow-right {
  width: 0; 
  height: 0;
  line-height: 0;
  border-top: 5em solid transparent;
  border-right: 5em solid transparent;
  border-bottom: 5em solid transparent;
  border-left: 5em solid #111;
  
  float: left;
}
#subscribe-newsletter #text {
  width: 51%;
  margin-right: 4%;
  float: left;
}
#subscribe-newsletter h4 {
  padding: 1em 0 0;
}
#subscribe-newsletter #text h4 {
  border-bottom: 1px dotted;
}
#subscribe-newsletter #text form {
  padding: 0;
}
#subscribe-newsletter #text form input.text {
  width: 98%;
}
#subscribe-newsletter #text #whatis {
	position: relative;
	top: -1.5em;
	left: 90%;
	font-size: smaller;
	text-decoration: underline;
}

#subscribe-newsletter #facebook-connect {
	float: left;
	width: 20%;
}
#subscribe-newsletter #facebook-connect .fb-login-button {
	margin-top: .5em;
}
#subscribe-newsletter #facebook-connect #auth-loggedin {
	padding: 1.5em 1em;
	font-size: small;
}





/* Collections
*/

#collections {
  margin: 3em 0 0;
}
#collections .item {
  margin-bottom: 3em;
}
#collections #title {
  padding: 1em 0 .1em;
}
#collections h3 {
  margin-left: 1em;
  font-variant: small-caps;
}
#collections a, #collections a:visited {
  color: #4A4742;
}
#collections #image {
  border: 1px solid #aaa;
}
#collections #image img {
  width: 99.9%;
  text-align: center;
}



/* Product Thumb 
*/

.product-thumb .text {
	background: url(img/stripe.png);
}

.product-thumb h4 {
  margin-bottom: .5em;
  font-size: large;
  font-weight: bold;
  background: white;
  padding: .5em;
}
.product-thumb p {
  color: #4A4742; 
  background: white;
  padding: .7em;
  
  margin: 0;
  margin-bottom: 2em;
  text-align: justify;
}
.product-thumb img {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  padding: .2em;
}
.product-thumb #category {
  position: relative;
  max-width: 5em;
  top: -2.5em;
  margin-right: 1.5em;
  float: right;
}
.product-thumb #category a {
  padding: .3em;
  background: #aaa;
  color: #fff;
}
.product-thumb #category a:hover, .product-thumb #category a:active {
  background: #4A4742;
}
.product-thumb .normal-price {
	position: relative;
	top: 2.5em;
}


/* Prices
*/

.price, .normal-price {
  border: #ccc;
  padding: .3em .5em;
  font-size: larger;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;    
}
.price {
  background: #F25F18;
}
.old-price {
  text-decoration: line-through;
}
.normal-price {
  background: #4D8FCE;    
}



/* Category colors
*/

/*

.gadget {
  background: #262BBF;
  color: #ddd !important;
}
.gizmo {
  background: #A54C21;
  color: #ddd !important;
}
.self-care {
  background: #18F2E0;
}
.doar-copii {
  background: #666;
  color: #ddd !important;
}
.spionaj {
  background: #72442E;
  color: #ddd !important;
}
.eco {
  background: #38A711;
  color: #ddd !important;
}
.lifestyle {
  background: #F431DB;
}
.ceasuri {
  background: #483559;
  color: #ddd !important;
}

*/



/* Common 
*/

.all-products-link {
	display: none;
}

img {
	width: 100%;
	height: auto;
}

ul.inline-list {
  display: block;
  margin: 0;
  list-style: none;
}
ul.inline-list li {
  display: inline;
  float: left;
}