/* Grid
----------------------------------------------------
*/

.container {
  margin: 0 auto;
  width: 950px;
  overflow: hidden;  
}







/* Colors
----------------------------------------------------

- black: #111
- orange: #F25F18

*/





/* Links
----------------------------------------------------
*/

a, a:visited {
  color: #111;
  text-decoration: none;
}






/* Header
----------------------------------------------------
*/

#header {
	margin: 1.25em 0 5em;
}

#header #tooltips {
	display: none;
}


/* Logo
*/

#header #logo h1 {
  font-weight: bold;
  font-size: 5em;
  letter-spacing: -4px;
}
#header #logo h1 .strapline { 
  font-size: 40%;
  letter-spacing: 0;
  
  padding: 0 .312em;
  vertical-align: super;
}
#header #logo h1 .strapline a, #header #logo h1 .strapline a:visited, #header #logo h1 .strapline a:hover {  
  color: #F25F18;
}


/* Menu
*/

#header #menu li {
	font-size: larger;
	margin-right: 1.25em;
}
#header #menu li a:hover {
	border-bottom: 2px solid;
}
#header #menu li.all-products-link {
	display: none;
}


/* Cart
*/

#cart {
	margin: 2.5em 0;
}
#cart ul {
	margin: 0;
	list-style: none;
}
#cart ul li {
	margin-bottom: .312em;
	padding-bottom: .312em;
	border-bottom: 1px solid;
}



/* Startpage
----------------------------------------------------
*/


/* Remove sidebar */
.home .container #content {
	width: 100%;
}
.home .container #sidebar {
	width: 0%;
}




/* Hot
*/


#home-hot-content #hot-slider {
	width: 710px;
}
#home-hot-content #hot-slider.slider ul li, #home-hot-content #hot-slider.sliderli,
#home-hot-content #hot-slider.slider, #home-hot-content #hot-slider.slider2 { 
	width: 690px !important;
}
#home-hot-content #hot-slider img {
  width: 100%;
  height: auto;
}

#home-hot-content .hot-slider-thumb-menu-wrapper {
	width: 250px;
	height: 486px;
}

#home-hot-content #hot-slider-thumbs {
	margin-left: 1.25em;
}
#home-hot-content #hot-slider-thumbs img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
#home-hot-content #hot-slider-thumbs .hot-slider-thumb-menu a:hover {
  border: 2px solid #4A4742 !important;
}
#home-hot-content #hot-slider-thumbs img.ajax-loader {
  width: 32px;
  height: 32px;
  text-align: center;
}
#home-hot-content #hot-slider-thumbs .sc_menu_tooltip {
	position: absolute;
	background: #111;
	color: white;
	font-size: larger;
	padding: 1.25em;
	display: block;
	left: 120px !important;
}






/* Common 
*/

ul.inline-list {
  display: block;
  margin: 0;
  list-style: none;
}
ul.inline-list li {
  display: inline;
  float: left;
}