body.archive {


  /* http://stackoverflow.com/questions/6794000/css-fixed-position-but-relative-to-container */
  #header.fixed {
    @include container(0);
    margin: 0;
    
    height: 5em;
    @include background(body);
    border-bottom: 1px dotted;
    
    #logo {
      @include logo($pad/4);
    }
    
    #strapline, #menu, #search {
      display: none;
    }
  }
  
  #archive hgroup.fixed {
    @include container(10%);
    margin-left: 10%;
    
    height: 3.75em;
    padding-top: $pad/4;
    background: url(background.png);
    
    header {
      width: 23%;
    }
    
    #filters {
      width: 74.5%;
    }
  }
  
  
  #archive {
    @include block;
    
    
    hgroup {
      @include block;
      margin-bottom: $pad;
      
      header {
        @include col(5, 0);
      
        h2 {
          padding: $pad/2 0 0 $pad/2;
        }
      }
      
      #filters {
        width: 79.5%;
        float: left;
        padding-top: $pad/4;
           
        nav {
          @include col(4, 0);
          padding: $pad/2 0 0;
          
          select {
            font-size: small;
          }
          
          .select:after {
            top: -1.35em;
          }
          
          &.last {
            margin-right: 0;
          }
        }
      }
    }
    
  
    #products {
      @include block;
      
      #product {
        @include col(4, 100);
        margin-bottom: $pad;
        
        @include product-thumb;
        
        
        .normal-price {
          background: $background;
        }
        
      }
    }
    
  }
}
