body.archive {


  /* http://stackoverflow.com/questions/6794000/css-fixed-position-but-relative-to-container */
  #header.fixed {
    @include container(0);
    margin: 0;
    
    height: 5.5em;
    background: url(background.png);
    
    #logo {
      @include logo($pad/4);
    }
    
    #strapline, #menu, #search {
      display: none;
    }
  }
  
  section hgroup.fixed {
    @include container(10%);
    margin-left: 10%;
    
    height: 3.75em;
    padding-top: $pad/4;
    background: url(background.png);
    
    header {
      width: 23%;
    }
    
    nav {
      width: 74.5%;
    }
  }
  
  
  section {
    @include block;
    
    
    hgroup {
      @include block;
      margin-bottom: $pad;
      border-top: 1px solid $very-light-gray;
      border-bottom: 1px solid $very-light-gray;
      
      header {
        @include col(18%, 0, 2.5%);
      
        h2 {
          padding: $pad/2 0 0 $pad/2;
        }
      }
      
      nav {
        @include col(79.5%, 0, 0);
        padding-top: $pad/4;
           
        div {
          @include col(23%, 0, 2.5%);
          padding: $pad/2 0 0;
          
          select {
            font-size: small;
            width: 100%
          }
          
          .select:after {
            left: 0;
            top: -1.35em;
          }
          
          &.last {
            margin-right: 0;
          }
        }
        
        
        @include tablet-landscape-and-below {
          h3 {
            display: block;
            font-size: small;
            
            padding: 0;
            border-bottom: 1px solid $very-light-gray;
            color: $gray;
            
            cursor: pointer;
          }
          
          h3:after {
            @include arrow-to-reveal-content;
          }
          
          div {
            @include block;
            max-width: 90%;
            
            display: none;
            
            label.select:after {
              display: none;
            }
            
            label {
              select {
                width: 100%;
                padding: $pad/4 0;
              }
            }
          }
          
          #submit {
            margin: $pad/2 0;
          }
        }
      }
    }
    
    
  
  
  #products {
    @include block;
    
    #product {
      @include col(23%, 0, 2.5%);
      margin-bottom: $pad;
      
      @include product-thumb;
      
      
      .normal-price {
        background: $background;
      }
      
    }
    #product.c4, #product.c8, #product.c12, #product.c16, #product.c20, #product.c24, #product.c28 {
      margin-right: 0;
    }
    
    
    @include mobile-only {
      #product {
        @include block;
      }
    }
    
    @include mobile-landscape-only {
      #product {
      }
    }
    
    @include tablet-only {
      #product {
        @include col(45%, 0, 10%);
        margin-bottom: $margin;
        
      }
      #product.c2, #product.c4, #product.c6, #product.c8, #product.c10, #product.c12, #product.c14, #product.c16, #product.c18, #product.c20,
      #product.c22, #product.c24, #product.c26, #product.c28, #product.c30 {
        margin-right: 0;
      }
      #product.c3, #product.c9, #product.c15, #product.c21, #product.c27 {
        margin-right: 10%;
      }
    }
    
  }
  
  footer {
    h1 {
      @include col(50%, 0, 0);
    }
    
    #pagination {
      margin-top: $pad*3;
    }
    
    
    
    @include mobile-only {
      h1, #pagination {
        @include block; 
      }
    }
  }
  
  
  
 }
}
