#more-categories {
  @include block;
  margin-top: $pad;
  
  #title {
    display: none;
  }
  
  nav {
    @include col(4, 0);
    
    #title {
      display: block;
      
      h3 {
        @include bordered;
      }
    }
    
    ul, ol {
      @include list;
      margin-top: $pad;
      margin-left: $pad/2;
      
      li {
        border-color: $background;
        
        &:hover {
          border-color: $very-light-gray;
        }
      }
    }
    
    ol {
      list-style: decimal;
      margin-left: $pad + $pad/2;
    }
  }
  
}
