#more-categories {
  @include block;
  
  #title {
    display: none;
  }
  
  nav {
    @include col(4, 0);
    
    #title {
      display: block;
    }
    
    ul, ol {
      @include list;
    }
    
    ol {
      list-style: decimal;
      margin-left: $pad;
    }
  }
  
  #search {
    @include col(2, 0);
    margin-right: 0;
    margin-top: $pad*4;
    
    input[type="text"] {
      font-style: normal;
      font-size: small;
      color: $gray;
      
      width: 86%;
    }
    
    input[type="submit"] {
      float: right;
      
      @include button($background, $color);
      font-size: small;
    }
    
    
    #filters {
      display: none;
    }
  }
  
}
