$color: #111;
$background: #fff;
$sale: #F25F18;
$cart: #8AEA4C;

$orange: #F25F18;
$blue: #4D8FCE;
$green: #8AEA4C;
$red: #F98751;
$error: #F98751;
$yellow: F9B451;
$notice: F9B451;

$gray: #AAA;
$dark-gray: #4A4742;
$light-gray: #ccc;
$light-gray-2: #eee;
$very-light-gray: #f1f1f1;
