body {
	.container {
	
	  #footer {
			@include block;
			margin: $pad 0;
			
			#info {
			  @include block;
			  @include bordered;
			  
		    margin-bottom: $pad/2;
			  
			  ul {
			    @include list-inline;
			    
			    #go-top {
		        float: right;
		        margin-right: 0;
		      }
		      #go-top:after {
		        @include arrow-to-reveal-content;
		        @include rotate(270deg, .7);
		      }
			  }
			}
			
			#company {
			  @include block;
			  font-size: small;
		    color: $light-gray;
			}
		}
		
	}
}
