body {
	.container {
		
		#facebook-like-box {
			@include block;
			margin: $margin 0;
			
			#campaign-message {
				@include col(45%, 5%, 0);
				float: right;
			}
			
			#body {
				@include col(50%, 0, 0);
				float: left;
			}
		}
		
		#top-new-categories {
			@include block;
			margin: $margin 0;
			
			ul {
				@include list-inline;
				
				li {
					width: 19%;
					margin: 0 2.5%;
				}
			}
		}
		
		#info {
			@include block;
			margin: $margin 0;
			
			#col-1 {
				@include col(45%, 0, 10%);
			}
			
			#col-2 {
				@include col(45%, 0, 0);
			}
		}
		
		#footer {
			@include block;
			margin: $margin 0;
		}
		
		#footer-subscribe {
			@include block;
			margin: $margin 0;
			
			#newsletter {
				@include col(45%, 0, 10%);
			}
			
			#social {
				@include col(45%, 0, 0);
				
				#partners {
					display: block;
				}
				
				#fb-like {
					display: block;
				}
			}
		}
	
	}
}