body {

  .grid {
    display: none;
  }

  background: $background url(background.png);
  font-family: 'Coda', serif;
  color: $color;
  
  
  
  #above-container {
    background: $color;
    height: $pad + $pad/2;
    
    @include mobile-only {
      display: none;
    }
  }
  
    
  
	.container {
		width: 90%;
		margin: 0 auto;
		
		
		@include large-screen {
		  width: 70%;
		}
		
		
		
		h1, h2, h3, h4 {
      font-family: 'Oswald', sans-serif;
    }
    
    input, textarea, select {
      font-family: 'Coda', serif;
      font-size: 100%;
    }
    
    
		
		#header {
			@include block;
			margin: $pad 0;
			
									
			hgroup {
				@include col(50%, 0, 2.5%);
				margin-top: $pad;
				margin-bottom: $pad;
				
				@include mobile-only {
				  @include block;
				  margin-top: 0;
				}
				
			  #logo {
				  @include logo($pad/3);
			    float: left;
			  }
			
				#strapline {
				  float: left;
				  margin-left: $pad/2;
				  
				  h2 {
				    padding: 0;
				    font-style: normal;
				    color: $sale;
				    
				    a {
					    color: $sale;
					  }
				  
				  }
				  
				  @include mobile-only {
				    font-size: small;
				  }
				}
			}
			
			#search {
			  @include col(47.5%, 0, 0);
			  text-align: right;
			  
			  font-size: small;
			  margin-top: 3em;
			  
			  input[type="text"] {
			    width: 23.5em;
			    border-color: $very-light-gray;
			    
			    &:focus {
			      border: 1px solid;
			    }
			  }
			  
			  input[type="submit"] {
			    background: url(icon-search.png) no-repeat center 1em;
			  }
			}
			
			
			#menu {
			  @include block;
			  
			  border-top: 1px solid;
			  border-bottom: 1px solid;
			  padding: $pad/2 0;
			 
			  ul {
          @include list-inline;
          padding: 0 $pad/2;
          
          li {
            &#info, &#search {
              cursor: pointer;
              
              &:after {
                @include arrow-to-reveal-content;
              }
              
              &.active:after {
                @include rotate(270deg, .7);
              }
            }
            &.cart {
              float: right;
            }
          }
          
          @include mobile-only {
            padding: 0;
            
            li {
              font-size: small;
              margin-right: $pad/2;
              
              &#separator {
                width: 100%;
                margin-top: $pad/2;
              }
              
              &.cart {
                float: left;
              }
            }
          }
        }
			} 
			
			
			
			
			#menu-info {
			  @include block;
			  @include hidden;
			  
			  background: $very-light-gray;
			  padding-bottom: $pad;
			  
			  div {
			    @include col(23%, .5%, 2%);
			    
			    h3 {
			      color: $gray;
			    }
			    
			    ul {
			      list-style: none;
			      margin: 0;
			      
			      li {
			        padding: 0 $pad/4;
			        margin-bottom: $pad/4;
			        
			        a {
			          width: 100%;
			          display: block;
			          border-bottom: 1px solid $very-light-gray;
			          
			          &:hover {
			            border-bottom: 1px solid $light-gray;
			            color: shade($color, 50%);
			          }
			        }
			        
			        &.separator {
			          padding: $pad/2;
			        }
			      }
			      
			      
			    }
			  }
			  
			  #close {
			    margin-right: 0;
			    text-align: right;
			    
			    margin-top: $pad*3 - $pad/2;
			    
			    span {
			      cursor: pointer;
			      padding-right: $pad/2;
			    }
			    
			    span:after {
			      @include close-icon;
			    }
			  }
			}
			
			#menu-info {
			  #contact {
			    margin-left: 23%;
			  }
			  
			  .shopping-info {
			    ul {
			      li {
			        margin-bottom: $pad/4 + $pad;
			        
			        h4 {
			          padding: 0 0 $pad/2;
			        }
			        
			      }
			    }
			  }
			  
			  #close {
			    margin-top: -16.2em;
			    float: right;
			  }
			}
			
			
			
		}	
		
		
		#footer {
		  #info {
		    border-top: 1px solid;
		    border-bottom: 1px solid;
		    padding: $pad/2 0;
		    margin-bottom: $pad/2;
		    
		    ul {
		      #go-top {
		        float: right;
		      }
		      #go-top:after {
		        @include arrow-to-reveal-content;
		        @include rotate(270deg, .7);
		      }
		    }
		  }
		  
		  #company {
		    font-size: small;
		    color: $light-gray;
		  }
		}
	}
}
