body {
	.container {
		width: 90%;
		margin: 0 auto;
		
		
		#header {
			@include block;
			
			#cart {
				@include col($minor + $margin, 0, 0);
				float: right;
			}
			
			
			hgroup {
				@include col($major, 0, 0);
				
				#logo {
					max-width: $minor;
					float: left;
				}
				
				#strapline {
					max-width: $minor*2;
					float: left;
				}
				
				#page-name {
					width: $minor*2;
					float: left;
				}
			}
			
			#menu {
				@include col($major, 0, 0);
								
				ul {
					@include list-inline;
				}
			} 
			
			#search {
				@include col($minor + $margin, 0, 0);
				float: left;
			}	
			
			
			
			@include mobile-only {
			  #cart, hgroup, #menu, #search {
			    @include block;
			  }
			  
			  #cart {
			    ul {
			      margin-top: $pad;
			    }
			  }
			}
			
		}
		
		
		#footer {
		  #info {
		    border-top: 1px solid;
		    border-bottom: 1px solid;
		    padding: $pad/2 0;
		    margin-bottom: $pad/2;
		  }
		  
		  #company {
		    font-size: small;
		    color: $light-gray;
		  }
		}
	}
}
