/* line 13, metrics.scss */
img {
  max-width: 100%;
}

@media only screen and (max-width: 480px) {
  /* line 42, metrics.scss */
  .mobile {
    display: block;
  }

  /* line 45, metrics.scss */
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  /* line 50, metrics.scss */
  .mobile {
    display: none;
  }

  /* line 53, metrics.scss */
  .desktop {
    display: block;
  }
}
