/* Vertical rhythm
*/

$pad: 1.25em;


/* The grid
 - it would be nice to redeclare these variables inside media queries, but it is not possible
 - http://stackoverflow.com/questions/9122195/using-sass-variables-with-css3-media-queries
*/

$minor: 25%;
$major: 70%;




$minor2: 20%;
$major2: 75%;

$margin: 5%;

