// Vertical rhythm

$pad: 1.25em;


// The grid
// - it would be nice to redeclare these variables inside media queries, but it is not possible
// - http://stackoverflow.com/questions/9122195/using-sass-variables-with-css3-media-queries

$minor: 20%;
$major: 75%;
$margin: 5%;

$minor2: 10%;
$major2: 90%;





// The Responsive Mixin
// - http://thesassway.com/intermediate/responsive-web-design-part-1
// - screen sizes: http://www.responsinator.com/

$mobile: 380px;
$mobile-landscape: 600px;
$tablet: 1024px;
$desktop: 1440px;


@mixin respond-to($media) {
	
	/* handhelds to iPhone 3,4*/
  @if $media == mobile {
    @media only screen and (max-width: $mobile) { @content; }
  }
  
  /* smartphones and iPhone landscape mode, up to Kindle or maybe iPad Mini */
  @else if $media == mobile-landscape {
    @media only screen and (min-width: $mobile + 1) and (max-width: $mobile-landscape) { @content; }
  }
  
  /* a collector mode, combining all above */
  @if $media == all-mobile {
    @media only screen and (max-width: $mobile-landscape) { @content; }
  }
  
  /* something between 601px and 1023px, usually a tablet in portrait mode */
  @else if $media == tablet {
    @media only screen and (min-width: $mobile-landscape + 1) and (max-width: $tablet - 1) { @content; }
  }
  
  /* a collector mode, combining smartphones in landscape mode & tablets */
  @if $media == all-tablet {
    @media only screen and (max-width: $tablet - 1) { @content; }
  }
  
  /* 1024 - 1440, or tablet in landscape mode */
  @else if $media == desktop {
    @media only screen and (min-width: $tablet) and (max-width: $desktop) { @content; }
  }
  
  /* 1440 + */
  @else if $media == large {
    @media only screen and (min-width: $desktop + 1) { @content; }
  }
}


@media only screen and (max-width: $mobile-landscape) { 
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}
@media only screen and (min-width: $mobile-landscape + 1) {
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
}



// Responisive, fluid Images

img {
	max-width: 100%;
}



$image-thumb-width: 150px;
$image-thumb-height: 150px;

$image-medium-width: 300px;
$image-medium-height: 211px;

$image-large-width: 950px;
$image-large-height: 670px;



