/* Theme mixins
*/
/* Arrow
*/
/* Accordion
*/
/* Subscribe to newsletter
*/
/* A list like used in the header to display cart
*/
/* Product view -- Promo  
*/
/* Product view -- Bestseller
*/
/* Product view -- Hot
*/
/* Image bordered
*/
/* Image rounded
*/
/* Add to cart
*/
/* Responsive mixins
 - http://thesassway.com/intermediate/responsive-web-design-part-1
 - screen sizes: http://www.responsinator.com/
*/
@media only screen and (max-width: 600px) {
  /* line 746, mixins.scss */
  .mobile {
    display: block;
  }

  /* line 749, mixins.scss */
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 601px) {
  /* line 754, mixins.scss */
  .mobile {
    display: none;
  }

  /* line 757, mixins.scss */
  .desktop {
    display: block;
  }
}
/* Responisive, fluid Images
*/
/* line 766, mixins.scss */
img {
  max-width: 100%;
}

/* General mixins
*/
/* set z-index

- parent must have set 'position'
- this element must have set weight
- http://www.tjkdesign.com/articles/z-index/teach_yourself_how_elements_stack.asp

*/
/* rotate

- example rotate(180deg, 1.5)
*/
/* underline a text with padding and margin
*/
/* make cursor to be pointer
*/
/* list, inline 
*/
/* table, simple
*/
/* make a column 
*/
/* box-shadow
*/
/* make image fit within container
*/
/* hide an element 
*/
/* block element -- expand something full size inside a container
*/
