/* Theme mixins
*/





/* Accordion
*/
@mixin accordion {
	h2, h3 {
		cursor: pointer;
		padding: $pad/2 $pad/4;
		background: $light-gray-2;
		border-bottom: 1px solid $light-gray;
		margin-bottom: 1px;
		
		&:after {
			@include arrow-to-reveal-content;
		}
	}
	.pane {
		display: none;
		background: $background;
		padding: $pad;
		margin-bottom: $pad*2;
	}
}


/* Subscribe to newsletter
*/
@mixin subscribe-to-newsletter {
	background: #4D8FCE;
	
	@include respond-to(all-mobile) {
		width: 90%;
		padding: 5%;
	}
	
	.arrow-right {
		width: 0; 
		height: 0;
		line-height: 0;
		border-top: 6em solid transparent;
		border-right: 6em solid transparent;
		border-bottom: 6em solid transparent;
		border-left: 6em solid $color;
		
		float: left;
		
		@include respond-to(all-mobile) {
			display: none;
		}
		@include respond-to(tablet) {
			display: none;
		}
	}
	
	
	h4 {
		padding: $pad/2 0;
	}

	#text {
		width: 58%;
		margin-right: 5%;
		float: left;
		position: relative;
		margin-left: -4.8em;
		
		@include respond-to(all-mobile) {
			width: 100%;
			margin: 0;
		}
		
		@include respond-to(tablet) { 
		  margin-left: $pad; 
    }
		
		
		form {
			padding: 0;
			
			input.text {
  			width: 100%;
  			
  			@include respond-to(all-mobile) {
					width: 75%;
				}
  		}
  		
  		@include respond-to(desktop) {
  		  input {
  		    font-size: small;
  		  }
  		}
  	}
  	
		#whatis {
			position: relative;
			top: -1.5em;
			float: right;
			
			text-decoration: underline;
			
			.tooltip-text {
				text-decoration: none;
			}
		}
		#whatis:hover .tooltip-text {
			left: 5em;
		}
	}

	#facebook-connect {
		float: left;
		width: 25%;
		
		@include respond-to(all-mobile) {
			width: 100%;
			margin: 0;
		}
		@include respond-to(tablet) {
			h4 {
				margin-bottom: $pad;
			}
		}
		
		#auth-loggedin {
			padding: $pad;
			font-size: small;
		}
	}
}


/* A list like used in the header to display cart
*/
@mixin list-cart {
	list-style: none;
	margin: 0;
	
	li {
		margin-bottom: $pad/4;
		padding: $pad/4;
		background: $background;
		border-bottom: 1px solid $light-gray;
	}
}


/* Product view -- Promo  
*/
@mixin promo {
	height: 40em;
	border-bottom: 3px solid $very-light-gray;
	
	@include respond-to(all-mobile) {
		height: 25em;
	}
	
	
	img {
		@include image-bordered(1%);
		width: $image-thumb-width;
		margin-left: $pad;
		
		@include respond-to(mobile-landscape) {
			margin-left: 0;
		}
	}
	
	#text {
		margin: 0 $pad;
		
		h3, p {
			background: $very-light-gray;
			padding: $pad/2;
		}
		
		h3 {
			font-weight: bold;
			margin: $pad/2 0;
			min-height: $pad*4;
		}
		
		p {
			padding: $pad/2;
			min-height: $pad*2;
		}
		
		@include respond-to(all-mobile) {
			margin: 0 0 0 $pad;
			
			h3, p {
				background: transparent;
				padding: 0;
				min-height: $pad;
			}
		}
		
		@include respond-to(mobile-landscape) {
			margin: 0;
			
			h3 {
			  min-height: $pad*3;
			}
			p {
				display: none;
			}
		}
		
		@include respond-to(tablet) {
			h3, p {
				padding: 0;
			}
			h3 {
				min-height: $pad*3;
			}
		}
		
	}
	
	#price {
		position: relative;
		top: $pad*2;
		float: left;
		margin-left: $pad;
		font-size: larger;
		
		@include respond-to(all-mobile) {
			top: $pad;
			margin-left: 1em;
		}
		@include respond-to(mobile-landscape) {
			margin-left: 0;
		}
		@include respond-to(tablet) {
			top: $pad;
			margin-left: 1em;
		}
	}
	
	&:hover {
		border-bottom: 3px solid $sale;
		background: $background url(stripe.png);
		
		#text {
			h3, p {
				background: $background;
			}
		}
	}
}



/* Product view -- Bestseller
*/ 
@mixin bestseller {
	background: $background url(stripe.png);
	
	min-height: 37.5em;
	
	@include respond-to(all-mobile) { 
		min-height: 32.5em; 
	}
	
	@include respond-to(desktop) { 
	  min-height: 42.5em; 
	}
	
	
	
	img {
		@include image-bordered(1%);
	}
	
	#text {
		margin: 0 $pad;
		@include respond-to(all-mobile) {
			margin: 0 $pad/2;
		}
		
		h3, p {
			background: $background;
			padding: $pad/2;
			min-height: $pad*2;
			
			@include respond-to(all-mobile) {
				min-height: $pad;
			}
		}
		
		h3 {
			font-weight: bold;
			margin: $pad 0;
		}
		p {
			padding: $pad/2;
		}
	}
	
	#price {
		position: relative;
		top: $pad*3;
		width: 50%;
		float: left;
		margin-left: $pad;
		font-size: larger;
		
		@include respond-to(all-mobile) {
			margin-left: $pad/2;
			top: $pad;
		}
	}
	
	#category {
		position: relative;
		top: 4.5em;
		width: 30%;
		float: right;
		text-align: right;
		margin-right: $pad;
		
		
		@include respond-to(all-mobile) {
			margin-right: $pad/2;
			top: $pad+ $pad/2;
		}
		
		a {
			background: $light-gray;
			padding: $pad/4;
			color: $background;
			
			&:hover {
				background: gray;
			}
		}
	}
	
}


/* Product view -- Hot
*/
@mixin image-hot {
	#large-image {
		img {
			@include image-bordered(.1%);
			background: url(ajax-loader.gif) no-repeat 50% 50%;
		}
	}
	
	#large-image-title {
		background: $color;
		color: $very-light-gray;
		height: 5.3em;
		position: relative;
		top: -$pad/4;
		
		@include respond-to(mobile) {
			background: $very-light-gray;
			color: $color;
			top: 0;
		}
		
		@include respond-to(mobile-landscape) {
			top: -5.3em;
			opacity: .9;
			font-size: smaller;
			z-index: 1;
		}
		
		#text {
			background: $sale;
			color: $very-light-gray;
			text-align: center;
			
			width: 20%;
			float: left;
			
			h1 {
				padding: 0;
				
				@include respond-to(mobile-landscape) {
					padding: .71em 0;
				}
			}
			
			@include respond-to(mobile) {
				display: none;
			}
		}
		
		#info {
			width: 80%;
			float: right;
			
			@include respond-to(mobile) {
				width: 100%;
				float: left;
			}
			
			.arrow-right {
				width: 0; 
				height: 0;
				line-height: 0;
				border-top: 2.6em solid transparent;
				border-right: 2.6em solid transparent;
				border-bottom: 2.6em solid transparent;
				border-left: 2.6em solid $sale;
				
				margin-left: -1px;
				
				@include respond-to(mobile) {
					display: none;
				}
			}
			
			h3 {
				color: $sale;
				position: relative;
				padding: 0;
				top: -3em;
				left: $pad + $pad/2;
				
				@include respond-to(mobile) {
					top: 0;
					left: 0;
					padding: $pad/2 $pad/4;
					font-weight: bold;
					color: $color;
				}
				
				@include respond-to(mobile-landscape) {
					top: -3.5em;
					left: $pad*2;
					width: 85%;
				}
				
				@include respond-to(desktop) {
					top: -2.7em;
				}
			}
			
			p {
				color: $very-light-gray;
				font-size: larger;
				
				position: relative;
				top: -4em;
				left: 2.5em;
				
				@include respond-to(mobile) {
					top: 0;
					left: 0;
					padding: $pad/4;
					font-size: 100%;
					color: $color;
				}
				
				@include respond-to(mobile-landscape) {
					top: -3.5em;
					width: 85%;
				}
				
				@include respond-to(desktop) {
					top: -3.7em;
				}
			}
			
			#price {
				color: $very-light-gray;
				position: relative;
				top: -6em;
				float: right;
				margin-right: 1%;
				
				@include respond-to(mobile) {
					top: 0;
					left: 0;
					float: left;
					padding: $pad/4;
					color: $color;
				}
				
				@include respond-to(mobile-landscape) {
					top: -7em;
					z-index: 2;
					right: -30%;
					color: $color;
				}
				
				@include respond-to(desktop) {
					top: -5.5em;
					font-size: larger;
				}
				
				.normal-price {
					color: $color;
				}
			}
		}
	}
}


/* Image bordered
*/
@mixin image-bordered($padding) {
	width: 100%-($padding*2);
	padding: $padding;
	border: 1px solid $light-gray;
	background: $background url(ajax-loader.gif) no-repeat 50% 50%;
}



/* Image rounded
*/
@mixin image-rounded {
	text-align: center;
	
	li {
		height: 14em;
		border-radius: 8em;
		padding-top: 2.5em;
		
		@include respond-to(desktop) {
			height: 16em;
			border-radius: 16em;
			padding-top: 5em;
		}
		
		
		background: $blue;
		box-shadow: 2px 1px 1px $gray;
		border: 1px solid $blue;
		
		&:hover {
			box-shadow: 2px 1px 1px $color;
			border: 1px solid $color;
		}
	}
}


/* Add to cart
*/
@mixin add-to-cart {
	background: $blue;
	
	.wpsc_container {
		padding: $pad $pad/2;
		
		.imagecol {
			display: none !important;
		}
		
		.single_product_display {
			.textcol {
				margin-left: 0 !important;
			}
		}
		
		table {
			width: 100%;
			margin-bottom: 0;
			
			label {
				font-weight: normal;
			}
			
			td {
				border-bottom: 1px dotted;
				padding: $pad/2;
			}
			
			tr.quantity { 
				input[type='text'] {
					width: 90%;
					color: $color;
					font-style: normal;
				}
			}
			
			tr.delivery {
				td {
					border-bottom: none;
				}
			}
			
			tr.submit {
				td {
					border-top: 1px solid;
					padding-top: $pad;
				}
			}
			
			tr.animation {
				display: none;
			}
			
			tr.price {
				background: none !important;
				font-size: 100%;
				
				.pricedisplay {
					float: none !important;
  				width: 99%;
				}
			}
			
			input.wpsc_buy_button, input.checkout-button, select.wpsc_select_variation {  
				width: 100%;
				font-size: small;
			}
			input.wpsc_buy_button {
				background: $green;
				color: $color;
				border: 1px dotted;
			}
			input.wpsc_buy_button:hover {
				font-weight: bold;
			}
			
			div.thanks-ok {
				background: #10A26F;
				padding: 1em;
			}
			
			div.thanks-error {
				background: #A53B08;
				padding: 1em;
			}
			
			.wpsc_cart_message {
				text-align: center;
			}
		}
	}
	
	#wishlist {
		@include block;
		
		margin-bottom: $pad;
		padding: 0 $pad;
	
		.wpfp-span {
			width: 80%;
			float: left;
			
			padding: $pad/2 $pad/4;
			text-align: center;
			background: $color;
			color: $very-light-gray;
			padding: $pad/2;
			
			&:hover {
				cursor: pointer;
				color: $background;
			} 
			
			a {
				color: $very-light-gray;
			}
		}	
	}
	
	#product-discontinued {
		margin: $pad;
		
		p {
			margin-bottom: $pad;
		}
	}
	
}






/* Responsive mixins
 - http://thesassway.com/intermediate/responsive-web-design-part-1
 - screen sizes: http://www.responsinator.com/
*/

$mobile: 380px;
$mobile-landscape: 600px;
$tablet: 1024px;
$desktop: 1440px;


@mixin respond-to($media) {
	
	/* handhelds to iPhone 3,4*/
  @if $media == mobile {
    @media only screen and (max-width: $mobile) { @content; }
  }
  
  /* smartphones and iPhone landscape mode, up to Kindle or maybe iPad Mini */
  @else if $media == mobile-landscape {
    @media only screen and (min-width: $mobile + 1) and (max-width: $mobile-landscape) { @content; }
  }
  
  /* a collector mode, combining all above */
  @if $media == all-mobile {
    @media only screen and (max-width: $mobile-landscape) { @content; }
  }
  
  /* something between 601px and 1023px, usually a tablet in portrait mode */
  @else if $media == tablet {
    @media only screen and (min-width: $mobile-landscape + 1) and (max-width: $tablet - 1) { @content; }
  }
  
  /* a collector mode, combining smartphones in landscape mode & tablets */
  @if $media == all-tablet {
    @media only screen and (max-width: $tablet - 1) { @content; }
  }
  
  /* 1024 - 1440, or tablet in landscape mode */
  @else if $media == desktop {
    @media only screen and (min-width: $tablet) and (max-width: $desktop) { @content; }
  }
  
  /* 1440 + */
  @else if $media == large {
    @media only screen and (min-width: $desktop + 1) { @content; }
  }
}


@media only screen and (max-width: $mobile-landscape) { 
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}
@media only screen and (min-width: $mobile-landscape + 1) {
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
}



/* Responisive, fluid Images
*/
img {
	max-width: 100%;
}



/* General mixins
*/


/* set z-index

- parent must have set 'position'
- this element must have set weight
- http://www.tjkdesign.com/articles/z-index/teach_yourself_how_elements_stack.asp

*/
@mixin z-index($level, $height) {
  position: relative;
  z-index: $level;
  height: $height;
}


/* rotate

- example rotate(180deg, 1.5)
*/
@mixin rotate($deg, $value) {
  -moz-transform: rotate($deg);  
  -webkit-transform: rotate($deg); 
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=$value);
  display: inline-block;
}

/* underline a text with padding and margin
*/
@mixin text-underlined {
  margin-bottom: $pad2;
  padding-bottom: $pad2;
  border-bottom: 1px solid;
}


/* make cursor to be pointer
*/
@mixin pointer {
  cursor: pointer;
}



/* list, inline 
*/
@mixin list-inline {
  display: block;
  margin: 0;
  li {
    display: inline-block;
    list-style-type: none;
    margin-left: 0;
    float: left;
    margin-right: $pad;
  }
  li.last {
    margin-right: 0;
  }
}


/* table, simple
*/
@mixin table-simple {
  width: 100%;

  thead {
    td, th {
      border-bottom: 1px solid;
    }
  }
  
  tbody {
    td.first {
      text-align: left;
    }    
  }
  td, th {
    padding: $pad/2;
    text-align: center;
  }
  
  tfoot {
    td {
      border-top: 1px solid;
    }
  }
}


/* make a column 
*/
@mixin col($width, $margin_left, $margin_right) {
  width: $width;
  margin: 0 $margin_right 0 $margin_left;
  float: left;
}


/* box-shadow
*/

@mixin box-shadow {
  background: $color-background;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}

/* make image fit within container
*/
@mixin image-full-width {
  max-width: 100%;
  height: auto;
}

/* hide an element 
*/
@mixin hidden {
  display: none;
}


/* block element -- expand something full size inside a container
*/
@mixin block {
  width: 100%;
  float: left;
}
