/* Button
*/
/* Accordion
*/
/* Image bordered
*/
/* Image rounded
*/
/* Add to cart
*/
/* Responsive mixins
  - http://paulstamatiou.com/responsive-retina-blog-development-part-1
*/
@media only screen and (max-width: 30em) {
  /* line 396, mixins.scss */
  .mobile {
    display: block;
  }

  /* line 397, mixins.scss */
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 30.001em) {
  /* line 401, mixins.scss */
  .mobile {
    display: none;
  }

  /* line 402, mixins.scss */
  .desktop {
    display: block;
  }
}
/* Responisive, fluid Images
*/
/* line 410, mixins.scss */
img {
  max-width: 100%;
}

/* General mixins
*/
/* set z-index

- parent must have set 'position'
- this element must have set weight
- http://www.tjkdesign.com/articles/z-index/teach_yourself_how_elements_stack.asp

*/
/* rotate

- example rotate(180deg, 1.5)
*/
/* underline a text with padding and margin
*/
/* make cursor to be pointer
*/
/* list, inline 
*/
/* table, simple
*/
/* make a column 
*/
/* box-shadow
*/
/* make image fit within container
*/
/* hide an element 
*/
/* block element -- expand something full size inside a container
*/
