/* Button
*/
/* Accordion
*/
/* Image bordered
*/
/* Image rounded
*/
/* Add to cart
*/
/* Responsive mixins
  - http://paulstamatiou.com/responsive-retina-blog-development-part-1
*/
/*

!!! em is not working on iphone 3 !!!

$mq-mobile-portrait	: 20em !default;
$mq-mobile-landscape	: 30em !default;
$mq-tablet-portrait	: 40em !default;
$mq-tablet-landscape	: 64em !default;
$mq-desktop		: 86.375em !default;
$mq-large-screen: 99.93em !default;
*/
@media only screen and (max-width: 480px) {
  /* line 398, mixins.scss */
  .mobile {
    display: block;
  }

  /* line 399, mixins.scss */
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  /* line 403, mixins.scss */
  .mobile {
    display: none;
  }

  /* line 404, mixins.scss */
  .desktop {
    display: block;
  }
}
/* Responisive, fluid Images
*/
/* line 412, mixins.scss */
img {
  max-width: 100%;
}

/* General mixins
*/
/* set z-index

- parent must have set 'position'
- this element must have set weight
- http://www.tjkdesign.com/articles/z-index/teach_yourself_how_elements_stack.asp

*/
/* rotate

- example rotate(180deg, 1.5)
*/
/* underline a text with padding and margin
*/
/* make cursor to be pointer
*/
/* list, inline 
*/
/* table, simple
*/
/* make a column 
*/
/* box-shadow
*/
/* make image fit within container
*/
/* hide an element 
*/
/* block element -- expand something full size inside a container
*/
/* The visual grid 
*/
/* line 565, mixins.scss */
.grid {
  position: absolute;
  top: 0;
  opacity: .1;
  display: block;
  z-index: -1;
}

/* line 572, mixins.scss */
#gridh .col {
  border-bottom: 1px solid;
  width: 118em;
  height: 19px;
  /* 1.25em = 20px - 1px border */
}

/* line 577, mixins.scss */
#gridv .col {
  border-right: 1px solid;
  width: 10%;
  height: 250em;
  float: left;
}
