body.page {
  .container {
    section#page {
      @include block;
      
      #title {
        @include block;
        
        h1 {
          padding: $pad/2 0;
        }
      }
      
      article {
        @include column(3, 4, 1);
        @include link(visible);
       
      }
      
      aside {
        @include column(1, 4, 0);
      }
    }
  }

}


// Shopping Cart

body.wpsc-shopping-cart {
  .container {
    section#page {
      article {
        @include link(normal);
        
        input[type="submit"] {
          @include button($gray, $very-light-gray);
          @include single-text-shadow($very-light-gray);
          padding: $pad/4;
        }
        input, select {
          font-size: small;
        }
        
        #total {
          margin-left: 3*18% + 3*2.5%;
          margin-top: $pad/2;
          font-weight: bold;
        }
        
        #cart-content {
          @include block;
          
          div {
            @include col(5, 0);
            
            &#image {
              padding: $pad/4 0;
              img {
                @include image-bordered(1%);
                max-width: 110px;
              }
            }
            
            &#image.header, &#name.header, &#remove.header {
              visibility: hidden;
              padding: 0;
            }
            
            &#remove {
              margin-right: 0;
            }
            
            
            &#quantity, &#remove  {
              margin-top: $pad;
            }
            
            &#price {
              margin-top: $pad + $pad/2;
            }
            
            &.header {
              margin-top: 0 !important;
              margin-bottom: $pad/2;
            }
            
          }
          
          #separator {
            @include block;
            border-bottom: 1px solid $very-light-gray;
          }
        }
        
        #cart-footer {
          @include block;
          
          #delivery, #coupon, #total {
            @include block;
            margin-top: $pad/2;
          }
        
          #delivery, #coupon {
            div {
              @include col(5, 0);
              
              &.double, &.last {
                width: 2*18% + 1*2.5%;
              }
              
              &.last {
                margin-right: 0;
              }
            }
          }
          
          #select-text {
            label.select:after {
              top: -1.4em;
            }
          }
          
          #coupon-form {
            input[type="text"] {
              width: 22em;
            }
            
            input[type="submit"] {
              float: right;
            }
          }
          
          #total {
            span {
              font-size: small;
              color: $gray;
            }
          }
        }
      }
    }
  }
}

// Logo page
body.page {
  
  .container {
    #page.logo {
      @include block;
      background: $background;
    
      #logo {
        @include block;
        margin: $pad*5 0;
        background: $background;
        
        &.normal {
          @include logo($pad*2.5, normal);
          
          &:hover {
          	width: 76.5625em !important;
          }
        }
        
        &.extended {
          @include logo($pad*1.2, extended);
        }
        
        &.ro {
          @include logo($pad*1.75, ro);
          
          &:hover {
          	width: 72.1875em !important;
          }
        }
      }
    }
    
  }
}
