/* line 6, product-thumb.scss */
#items .item img {
  background: url(ajax-loader.gif) no-repeat 50% 50%;
}

/* line 33, product-thumb.scss */
#items.thumb .item img {
  width: auto;
  height: auto;
}
