// General
#items {
	.item {
		
		
		img {
			background: url(ajax-loader.gif) no-repeat 50% 50%;
		}
		
		#text {
			
  		
  		h4 {
  			
  		}
  		
  		p {
  			
  		}
		}
		
		#price {
			
		}
	}
}



// Just a simple thumb image, no title or other info, maybe on hover
#items.thumb {
	.item {
		img {
			width: $image-thumb-width;
			height: auto;
		}
	}
}






