/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, metrics.scss */
img {
  max-width: 100%;
}

@media only screen and (max-width: 480px) {
  /* line 40, metrics.scss */
  .mobile {
    display: block;
  }

  /* line 43, metrics.scss */
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  /* line 48, metrics.scss */
  .mobile {
    display: none;
  }

  /* line 51, metrics.scss */
  .desktop {
    display: block;
  }
}
/* line 2, typography.scss */
body {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 100%;
  line-height: 1.25;
}
/* line 13, typography.scss */
body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 29, typography.scss */
body .container h1 {
  font-size: 2em;
  padding: 1.25em 0;
}
@media only screen and (max-width: 320px) {
  /* line 29, typography.scss */
  body .container h1 {
    font-size: 1.5em;
    padding: 1.45833em 0;
  }
}
/* line 38, typography.scss */
body .container h2 {
  font-size: 1.75em;
  padding: 1.51786em 0;
}
@media only screen and (max-width: 320px) {
  /* line 38, typography.scss */
  body .container h2 {
    font-size: 1.33333em;
    padding: 1.25em 0;
  }
}
/* line 47, typography.scss */
body .container h3 {
  font-size: 1.5em;
  padding: 1.45833em 0;
}
@media only screen and (max-width: 320px) {
  /* line 47, typography.scss */
  body .container h3 {
    font-size: 1.16667em;
    padding: 1.51786em 0;
  }
}
/* line 57, typography.scss */
body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 63, typography.scss */
body .container h4, body .container h5, body .container h6 {
  font-size: 1em;
  text-transform: uppercase;
}
/* line 69, typography.scss */
body .container h6 {
  text-transform: none;
  font-variant: small-caps;
}
/* line 82, typography.scss */
body .container p + p {
  margin-top: 1.25em;
}
/* line 87, typography.scss */
body .container q, body .container blockquote {
  margin: 1.25em;
  border-left: 1px dotted;
  padding-left: 1.25em;
  font-style: italic;
  font-size: larger;
}
/* line 98, typography.scss */
body .container address {
  font-variant: small-caps;
}
/* line 106, typography.scss */
body .container ul, body .container menu, body .container dir, body .container ol {
  margin: 1.25em;
  list-style-type: square;
}
/* line 111, typography.scss */
body .container ol {
  list-style-type: decimal;
}
/* line 115, typography.scss */
body .container dl {
  margin: 1.25em 0;
}
/* line 118, typography.scss */
body .container dl dt {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 122, typography.scss */
body .container dl dd {
  margin: 0.625em 1.25em 1.875em;
}
/* line 132, typography.scss */
body .container table {
  margin: 1.25em 0;
}
/* line 137, typography.scss */
body .container table thead tr td {
  font-weight: bold;
}
/* line 143, typography.scss */
body .container table tbody {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}
/* line 148, typography.scss */
body .container table td, body .container table th, body .container table tr {
  text-align: left;
  vertical-align: top;
}
/* line 153, typography.scss */
body .container table td {
  padding: 1.25em;
}
/* line 163, typography.scss */
body .container em {
  font-style: italic;
}
/* line 167, typography.scss */
body .container strong {
  font-weight: bold;
}
/* line 179, typography.scss */
body .container input, body .container textarea {
  border: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: medium;
  font-family: monospace;
}
/* line 192, typography.scss */
body .container input[type='text'], body .container input[type='password'] {
  border-bottom: 1px solid;
  font-style: italic;
  color: gray;
}
/* line 197, typography.scss */
body .container input[type='text']:focus, body .container input[type='password']:focus {
  color: black;
  font-style: normal;
}
/* line 203, typography.scss */
body .container input[type='submit'] {
  background: black;
  color: lightgray;
  padding: 0.625em;
}
/* line 208, typography.scss */
body .container input[type='submit']:hover {
  cursor: pointer;
  color: white;
}
/* line 215, typography.scss */
body .container input[type='radio']:after {
  content: '\2610';
  margin-right: 0.625em;
}
/* line 219, typography.scss */
body .container input[type='radio']:checked:after {
  content: '\25a3';
}
/* line 224, typography.scss */
body .container input[type='checkbox']:after {
  content: '\272A';
  margin-right: 0.15625em;
  font-size: 200%;
  line-height: .5;
  vertical-align: top;
  color: lightgray;
}
/* line 235, typography.scss */
body .container input[type='checkbox']:checked:after {
  color: black;
}

/* Site specific mixins
*/
/* General mixins
*/
/* set z-index

- parent must have set 'position'
- this element must have set weight
- http://www.tjkdesign.com/articles/z-index/teach_yourself_how_elements_stack.asp

*/
/* rotate
*/
/* underline a text with padding and margin
*/
/* make cursor to be pointer
*/
/* list, inline 
*/
/* table, simple
*/
/* make a column 
*/
/* box-shadow
*/
/* make image fit within container
*/
/* hide an element 
*/
/* block element -- expand something full size inside a container
*/
/* line 2, header.scss */
body .container {
  width: 90%;
  margin: 0 auto;
}
/* line 6, header.scss */
body .container #header {
  width: 100%;
  float: left;
}
/* line 9, header.scss */
body .container #header #cart {
  width: 20%;
  margin-left: 5%;
  float: right;
}
/* line 14, header.scss */
body .container #header #cart h3 {
  display: none;
}
/* line 19, header.scss */
body .container #header hgroup {
  width: 75%;
  float: left;
}
/* line 23, header.scss */
body .container #header hgroup #logo {
  width: 20%;
  float: left;
}
@media only screen and (max-width: 320px) {
  /* line 23, header.scss */
  body .container #header hgroup #logo {
    width: 100%;
  }
  /* line 30, header.scss */
  body .container #header hgroup #logo h1 {
    padding: 0.625em 0 0;
  }
}
/* line 35, header.scss */
body .container #header hgroup #strapline {
  width: 40%;
  float: left;
}
@media only screen and (max-width: 320px) {
  /* line 35, header.scss */
  body .container #header hgroup #strapline {
    width: 100%;
  }
  /* line 42, header.scss */
  body .container #header hgroup #strapline h2 {
    padding: 0;
  }
}
/* line 47, header.scss */
body .container #header hgroup #page-name {
  width: 40%;
  float: left;
}
@media only screen and (max-width: 320px) {
  /* line 47, header.scss */
  body .container #header hgroup #page-name {
    width: 0;
  }
}
/* line 57, header.scss */
body .container #header nav {
  width: 75%;
  float: left;
}
@media only screen and (max-width: 320px) {
  /* line 57, header.scss */
  body .container #header nav {
    width: 100%;
  }
}
/* line 65, header.scss */
body .container #header nav ul {
  display: block;
  margin: 0;
}
/* line 58, mixins.scss */
body .container #header nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
}

/* line 3, startpage.scss */
body.home .container #hot {
  width: 100%;
  float: left;
}
/* line 6, startpage.scss */
body.home .container #hot #slider {
  width: 75%;
  margin: 0 5% 0 0;
  float: left;
}
/* line 11, startpage.scss */
body.home .container #hot #thumbs {
  width: 20%;
  margin: 0 0 0 0;
  float: left;
}
/* line 15, startpage.scss */
body.home .container #hot #more {
  width: 100%;
  float: left;
}
/* line 19, startpage.scss */
body.home .container #hot #noutati {
  width: 100%;
  float: left;
}
/* line 23, startpage.scss */
body.home .container #hot #noutati #items .item {
  width: 45%;
  margin: 0 10% 0 0;
  float: left;
}
/* line 26, startpage.scss */
body.home .container #hot #noutati #items .item.c2, body.home .container #hot #noutati #items .item.c4, body.home .container #hot #noutati #items .item.c6, body.home .container #hot #noutati #items .item.c8, body.home .container #hot #noutati #items .item.c9, body.home .container #hot #noutati #items .item.c10, body.home .container #hot #noutati #items .item.c12, body.home .container #hot #noutati #items .item.c14, body.home .container #hot #noutati #items .item.c16, body.home .container #hot #noutati #items .item.c18, body.home .container #hot #noutati #items .item.c20 {
  margin-right: 0;
}
/* line 33, startpage.scss */
body.home .container #subscribe-newsletter {
  width: 100%;
  float: left;
}
/* line 37, startpage.scss */
body.home .container #bestsellers {
  width: 100%;
  float: left;
}
/* line 40, startpage.scss */
body.home .container #bestsellers #title {
  width: 10%;
  margin: 0 0 0 0;
  float: left;
}
/* line 44, startpage.scss */
body.home .container #bestsellers #body {
  width: 90%;
  margin: 0 0 0 0;
  float: left;
}
/* line 48, startpage.scss */
body.home .container #bestsellers #body #filters div {
  width: 30%;
  margin: 0 5% 0 0;
  float: left;
}
/* line 51, startpage.scss */
body.home .container #bestsellers #body #filters div#last-three-months {
  margin-right: 0;
}
/* line 58, startpage.scss */
body.home .container #bestsellers #body #products #items .item {
  width: 30%;
  margin: 0 5% 0 0;
  float: left;
}
/* line 61, startpage.scss */
body.home .container #bestsellers #body #products #items .item.c3, body.home .container #bestsellers #body #products #items .item.c6, body.home .container #bestsellers #body #products #items .item.c9 {
  margin-right: 0;
}
/* line 67, startpage.scss */
body.home .container #bestsellers #body #more {
  float: right;
}
/* line 73, startpage.scss */
body.home .container #search {
  width: 100%;
  float: left;
}
/* line 76, startpage.scss */
body.home .container #search #title {
  width: 10%;
  margin: 0 0 0 0;
  float: left;
}
/* line 81, startpage.scss */
body.home .container #search #body {
  width: 90%;
  margin: 0 0 0 0;
  float: left;
}
/* line 87, startpage.scss */
body.home .container #promo #title {
  width: 10%;
  margin: 0 0 0 0;
  float: left;
}
/* line 92, startpage.scss */
body.home .container #promo #body {
  width: 90%;
  margin: 0 0 0 0;
  float: left;
}
/* line 96, startpage.scss */
body.home .container #promo #body #items .item {
  width: 22%;
  margin: 0 4% 0 0;
  float: left;
}
/* line 99, startpage.scss */
body.home .container #promo #body #items .item.c4, body.home .container #promo #body #items .item.c8, body.home .container #promo #body #items .item.c12 {
  margin-right: 0;
}
/* line 104, startpage.scss */
body.home .container #promo #body #more {
  float: right;
}

/* line 4, footer.scss */
body .container #facebook-like-box {
  width: 100%;
  float: left;
}
/* line 7, footer.scss */
body .container #facebook-like-box #campaign-message {
  width: 45%;
  margin: 0 0 0 5%;
  float: left;
  float: right;
}
/* line 12, footer.scss */
body .container #facebook-like-box #body {
  width: 50%;
  margin: 0 0 0 0;
  float: left;
  float: left;
}
/* line 18, footer.scss */
body .container #top-new-categories {
  width: 100%;
  float: left;
}
/* line 21, footer.scss */
body .container #top-new-categories ul {
  display: block;
  margin: 0;
}
/* line 58, mixins.scss */
body .container #top-new-categories ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
}
/* line 27, footer.scss */
body .container #info #col-1 {
  width: 45%;
  margin: 0 10% 0 0;
  float: left;
}
/* line 31, footer.scss */
body .container #info #col-2 {
  width: 45%;
  margin: 0 0 0 0;
  float: left;
}
/* line 36, footer.scss */
body .container #footer {
  width: 100%;
  float: left;
}
/* line 40, footer.scss */
body .container #footer-subscribe {
  width: 100%;
  float: left;
}
/* line 43, footer.scss */
body .container #footer-subscribe #newsletter {
  width: 45%;
  margin: 0 10% 0 0;
  float: left;
}
/* line 47, footer.scss */
body .container #footer-subscribe #social {
  width: 45%;
  margin: 0 0 0 0;
  float: left;
}
/* line 50, footer.scss */
body .container #footer-subscribe #social #partners {
  display: block;
}
/* line 54, footer.scss */
body .container #footer-subscribe #social #fb-like {
  display: block;
}

/* line 2, search.scss */
#search-enhanced div {
  width: 30%;
  margin: 0 5% 0 0;
  float: left;
}
/* line 5, search.scss */
#search-enhanced #categories {
  width: 100%;
}
/* line 8, search.scss */
#search-enhanced #searchbox {
  width: 100%;
}

/* line 6, product-thumb.scss */
#items .item img {
  background: url(img/ajax-loader.gif) no-repeat 50% 50%;
}

/* line 33, product-thumb.scss */
#items.thumb .item img {
  width: 150px;
  height: auto;
}

/* line 46, product-thumb.scss */
#items.hot #large-image img {
  background: url(img/ajax-loader.gif) no-repeat 50% 50%;
}
/* line 51, product-thumb.scss */
#items.hot #large-image-title {
  height: 5em;
}
/* line 54, product-thumb.scss */
#items.hot #large-image-title #text {
  font-size: larger;
  text-align: center;
}
/* line 59, product-thumb.scss */
#items.hot #large-image-title h3 {
  position: relative;
  top: -2.8em;
  left: 2.5em;
}
/* line 65, product-thumb.scss */
#items.hot #large-image-title p {
  position: relative;
  top: -5.5em;
  left: 3.8em;
}
/* line 71, product-thumb.scss */
#items.hot #large-image-title #price {
  position: relative;
  top: -9.5em;
  float: right;
}
