/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Vertical rhythm
*/
/* The grid
 - it would be nice to redeclare these variables inside media queries, but it is not possible
 - http://stackoverflow.com/questions/9122195/using-sass-variables-with-css3-media-queries
*/
/* line 1, typography.scss */
body {
  /* Use Serif for long text */
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 100%;
  line-height: 1.25;
}
/* line 9, typography.scss */
body .container {
  /* Use Sans serif for non-long text */
  /* Headings
   -----------------------------------------------
  */
  /* Headings dont differ by size but by decoration
   - vertical rhythm is maintained by padding
  */
  /* Lower headings are like body text but upper cased */
  /* Block level elements
  // -----------------------------------------------
  */
  /* the second <p> has a top margin */
  /* blockquote is simply indented, enlarged */
  /* address is small caps */
  /* Lists
  // -----------------------------------------------
  */
  /* Tables
  // -----------------------------------------------
  */
  /* Text styles
  // -----------------------------------------------
  */
  /* Forms
  // -----------------------------------------------
  */
  /* Reset browser defaults */
  /* Text */
  /* Button */
  /* Cross browser compatible styling: http://www.inserthtml.com/2012/06/custom-form-radio-checkbox/
    - the checkbox and radio button is not displayed
    - instead a label is displayed which can be styled with 'content' 
  */
  /* Radio */
  /* Checkbox */
  /* Select box 
    - put inside a <label class="select">
    - label:after is positioned over the original selectbox arrow
    - additionally padding & relative positioning must be overwritten later in the new context
  */
}
/* line 12, typography.scss */
body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 27, typography.scss */
body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  font-size: 1.5em;
  padding: 1.25em 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 35, typography.scss */
body .container h4, body .container h5, body .container h6 {
  font-size: 1.25em;
  /* small caps is not enough to distinguish header from body text */
  text-transform: uppercase;
}
/* line 42, typography.scss */
body .container h1, body .container h4 {
  font-weight: bold;
}
/* line 46, typography.scss */
body .container h2 {
  font-weight: bold;
  font-style: italic;
}
/* line 51, typography.scss */
body .container h6 {
  text-transform: none;
  font-variant: small-caps;
}
/* line 63, typography.scss */
body .container p + p {
  margin-top: 1.25em;
}
/* line 68, typography.scss */
body .container q, body .container blockquote {
  margin: 1.25em;
  border-left: 1px dotted;
  padding-left: 1.25em;
  font-style: italic;
  font-size: larger;
}
/* line 79, typography.scss */
body .container address {
  font-variant: small-caps;
}
/* line 88, typography.scss */
body .container ul, body .container menu, body .container dir, body .container ol {
  margin: 1.25em;
  list-style-type: square;
}
/* line 93, typography.scss */
body .container ol {
  list-style-type: decimal;
}
/* line 97, typography.scss */
body .container dl {
  margin: 1.25em 0;
}
/* line 100, typography.scss */
body .container dl dt {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 104, typography.scss */
body .container dl dd {
  margin: 0.625em 1.25em 1.875em;
}
/* line 115, typography.scss */
body .container table {
  margin: 1.25em 0;
}
/* line 120, typography.scss */
body .container table thead tr td {
  font-weight: bold;
}
/* line 126, typography.scss */
body .container table tbody {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}
/* line 131, typography.scss */
body .container table td, body .container table th, body .container table tr {
  text-align: left;
  vertical-align: top;
}
/* line 136, typography.scss */
body .container table td {
  padding: 1.25em;
}
/* line 147, typography.scss */
body .container em {
  font-style: italic;
}
/* line 151, typography.scss */
body .container strong {
  font-weight: bold;
}
/* line 164, typography.scss */
body .container input, body .container textarea, body .container select {
  border: none;
  outline: 0;
  background: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* line 175, typography.scss */
body .container input[type='text'], body .container input[type='email'] {
  border-bottom: 1px solid;
  font-style: italic;
  color: gray;
}
/* line 180, typography.scss */
body .container input[type='text']:focus, body .container input[type='email']:focus {
  color: black;
  font-style: normal;
}
/* line 186, typography.scss */
body .container input[type='submit'] {
  background: black;
  color: lightgray;
  padding: 0.625em;
}
/* line 191, typography.scss */
body .container input[type='submit']:hover {
  cursor: pointer;
  color: white;
}
/* line 204, typography.scss */
body .container input[type='radio'], body .container input[type='checkbox'] {
  display: none;
}
/* line 207, typography.scss */
body .container input[type='radio'] + label, body .container input[type='checkbox'] + label {
  display: inline-block;
}
/* line 212, typography.scss */
body .container input[type='radio'] + label:after {
  content: '\2610';
  margin-right: 0.625em;
}
/* line 216, typography.scss */
body .container input[type='radio']:checked + label:after {
  content: '\25a3';
}
/* line 221, typography.scss */
body .container input[type='checkbox'] + label:after {
  content: '\272A';
  margin-right: 0.3125em;
  font-size: 200%;
  line-height: .5;
  vertical-align: top;
  color: lightgray;
}
/* line 232, typography.scss */
body .container input[type='checkbox']:checked + label:after {
  color: black;
}
/* line 242, typography.scss */
body .container select {
  border-bottom: 1px solid gray;
  cursor: pointer;
  width: 100%;
}
/* line 247, typography.scss */
body .container label.select:after {
  content: '\003E';
  float: right;
  display: inline-block;
  padding: 0 .45em;
  position: relative;
  left: 0;
  background: white;
  pointer-events: none;
  /* this is a must */
  cursor: pointer;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=.5);
}

/* Container 
*/
/* http://stackoverflow.com/questions/6794000/css-fixed-position-but-relative-to-container */
/* Button
*/
/* Accordion
*/
/* Image bordered
*/
/* Image rounded
*/
/* Add to cart
*/
/* Responsive mixins
  - http://paulstamatiou.com/responsive-retina-blog-development-part-1
*/
/*

!!! em is not working on iphone 3 !!!

$mq-mobile-portrait	: 20em !default;
$mq-mobile-landscape	: 30em !default;
$mq-tablet-portrait	: 40em !default;
$mq-tablet-landscape	: 64em !default;
$mq-desktop		: 86.375em !default;
$mq-large-screen: 99.93em !default;
*/
@media only screen and (max-width: 480px) {
  /* line 419, mixins.scss */
  .mobile {
    display: block;
  }

  /* line 420, mixins.scss */
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  /* line 424, mixins.scss */
  .mobile {
    display: none;
  }

  /* line 425, mixins.scss */
  .desktop {
    display: block;
  }
}
/* Responisive, fluid Images
*/
/* line 433, mixins.scss */
img {
  max-width: 100%;
}

/* General mixins
*/
/* set z-index

- parent must have set 'position'
- this element must have set weight
- http://www.tjkdesign.com/articles/z-index/teach_yourself_how_elements_stack.asp

*/
/* rotate

- example rotate(180deg, 1.5)
*/
/* underline a text with padding and margin
*/
/* make cursor to be pointer
*/
/* list, inline 
*/
/* table, simple
*/
/* make a column 

- $col : how many columns
- $items : how many items will be organized into columns marked .c1, .c2, ....
*/
/* Remove right margin for the last column
*/
/* box-shadow
*/
/* make image fit within container
*/
/* hide an element 
*/
/* line 611, mixins.scss */
.hidden {
  display: none;
}

/* Titles for HTML5 Outliner are hidden */
/* line 616, mixins.scss */
.outline {
  display: none;
}

/* block element -- expand something full size inside a container
*/
/* The visual grid 
*/
/* line 635, mixins.scss */
.grid {
  position: absolute;
  top: 0;
  opacity: .1;
  display: none;
  z-index: -1;
}

/* line 642, mixins.scss */
#gridh .col {
  border-bottom: 1px solid;
  width: 118em;
  height: 19px;
  /* 1.25em = 20px - 1px border */
}

/* line 647, mixins.scss */
#gridv .col {
  border-right: 1px solid;
  width: 10%;
  height: 250em;
  float: left;
}

/* Color Scheme
*/
/* Links
*/
/* line 27, theme.scss */
a, a:active, a:visited, a:hover {
  color: #363636;
  text-decoration: none;
}

/* Price
---------------------------------------------------
*/
/* line 44, theme.scss */
.price, .normal-price, .old-price, .oldprice {
  border: #cccccc;
  padding: 0.3125em 0.625em;
  display: inline-block;
}

/* line 49, theme.scss */
.price {
  background: #f25f18;
  color: white;
}

/* line 53, theme.scss */
.old-price, .oldprice {
  text-decoration: line-through;
  color: #cccccc;
  background: white;
}

/* line 58, theme.scss */
.normal-price {
  background: #4d8fce;
}

/* Mixins
*/
/* line 1, header.scss */
body {
  background: white url(background.png);
  font-family: 'Coda', serif;
  color: #363636;
}
/* line 8, header.scss */
body #above-container {
  background: #363636;
  height: 1.875em;
}
@media only screen and (max-width: 1024px) {
  /* line 8, header.scss */
  body #above-container {
    display: none;
  }
}
/* line 17, header.scss */
body #page-flip {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  width: 600px;
}
/* line 24, header.scss */
body #page-flip img {
  width: 50px;
  height: 50px;
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  -ms-interpolation-mode: bicubic;
  background: url(giftshopper-woman.jpg) no-repeat right top white;
}
/* line 37, header.scss */
body #page-flip #inner {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 50;
  right: 0;
  top: 0;
  text-indent: -9999px;
  overflow: hidden;
}
/* line 51, header.scss */
body .container {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  /* line 51, header.scss */
  body .container {
    width: 98%;
  }
}
@media only screen and (min-width: 1599px) {
  /* line 51, header.scss */
  body .container {
    width: 70%;
  }
}
/* line 81, theme.scss */
body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  font-family: 'Oswald', sans-serif;
}
/* line 85, theme.scss */
body .container h2, body .container h3 {
  font-size: 1.25em;
  font-style: normal;
  font-weight: normal;
}
/* line 91, theme.scss */
body .container h2 {
  text-transform: uppercase;
}
/* line 95, theme.scss */
body .container input, body .container textarea, body .container select {
  font-family: 'Coda', serif;
  font-size: 100%;
}
/* line 57, header.scss */
body .container #header {
  width: 100%;
  float: left;
  margin: 1.25em 0;
}
/* line 62, header.scss */
body .container #header hgroup {
  width: 47.5%;
  margin-right: 5%;
  float: left;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
/* line 566, mixins.scss */
body .container #header hgroup.last {
  margin-right: 0;
}
/* line 68, header.scss */
body .container #header hgroup #logo {
  float: left;
}
/* line 71, header.scss */
body .container #header hgroup #logo.artwork {
  height: 2.91667em;
  width: 10.20833em;
}
/* line 482, theme.scss */
body .container #header hgroup #logo.artwork .smart-stuff-cell, body .container #header hgroup #logo.artwork .smart-stuff, body .container #header hgroup #logo.artwork .ro-cell, body .container #header hgroup #logo.artwork .ro {
  display: none;
}
/* line 507, theme.scss */
body .container #header hgroup #logo.artwork .cell {
  width: 0.41667em;
  height: 0.41667em;
  float: left;
}
/* line 513, theme.scss */
body .container #header hgroup #logo.artwork .small {
  width: 0.20833em;
}
/* line 517, theme.scss */
body .container #header hgroup #logo.artwork .set, body .container #header hgroup #logo.artwork .ro {
  background: #363636;
}
/* line 521, theme.scss */
body .container #header hgroup #logo.artwork .square {
  background: #cccccc;
}
/* line 526, theme.scss */
body .container #header hgroup #logo.artwork:hover {
  width: 20em;
}
/* line 529, theme.scss */
body .container #header hgroup #logo.artwork:hover .smart-stuff-cell {
  display: block;
}
/* line 75, header.scss */
body .container #header hgroup #logo.image {
  display: none;
}
/* line 80, header.scss */
body .container #header hgroup h1 {
  display: none;
}
/* line 85, header.scss */
body .container #header hgroup #strapline {
  float: left;
  margin-left: 0.625em;
}
/* line 89, header.scss */
body .container #header hgroup #strapline h2 {
  padding: 0;
  font-style: normal;
  color: #f25f18;
}
/* line 94, header.scss */
body .container #header hgroup #strapline h2 a {
  color: #f25f18;
}
@media only screen and (max-width: 768px) {
  /* line 62, header.scss */
  body .container #header hgroup {
    width: 100%;
    float: left;
    margin: 0 0 1.25em;
  }
  /* line 106, header.scss */
  body .container #header hgroup #strapline {
    margin: 0 0 0 1.25em;
    width: auto;
  }
}
/* line 113, header.scss */
body .container #header #search {
  width: 47.5%;
  margin-right: 5%;
  float: left;
  margin-right: 0;
  margin-top: 1.5625em;
  text-align: right;
}
/* line 566, mixins.scss */
body .container #header #search.last {
  margin-right: 0;
}
/* line 121, header.scss */
body .container #header #search input[type="text"] {
  width: 17.5em;
  border: 1px solid white;
  position: relative;
  top: -0.625em;
  padding: 0 0.3125em;
}
/* line 130, header.scss */
body .container #header #search input[type="text"]:focus {
  border-color: #f25f18;
}
/* line 135, header.scss */
body .container #header #search input[type="submit"] {
  background: url(icon-search.jpg) no-repeat center 2px;
}
/* line 140, header.scss */
body .container #header #search:hover input[type="text"] {
  border-color: #f25f18;
}
@media only screen and (max-width: 768px) {
  /* line 113, header.scss */
  body .container #header #search {
    width: 2.5em;
    margin: 0;
  }
  /* line 149, header.scss */
  body .container #header #search input[type="text"] {
    display: none;
  }
  /* line 153, header.scss */
  body .container #header #search input[type="submit"] {
    position: absolute;
    top: 1.25em;
    right: 0;
  }
}
@media (max-width: 320px) {
  /* line 161, header.scss */
  body .container #header #search input[type="submit"] {
    top: 8em;
  }
}
/* line 172, header.scss */
body .container #header #menu {
  width: 100%;
  float: left;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0.625em;
}
/* line 177, header.scss */
body .container #header #menu ul {
  display: block;
  margin: 0;
  padding: 0;
}
/* line 492, mixins.scss */
body .container #header #menu ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
  float: left;
  margin-right: 1.25em;
}
/* line 499, mixins.scss */
body .container #header #menu ul li.last {
  margin-right: 0;
}
/* line 182, header.scss */
body .container #header #menu ul li#info, body .container #header #menu ul li#search {
  cursor: pointer;
}
/* line 185, header.scss */
body .container #header #menu ul li#info:after, body .container #header #menu ul li#search:after {
  content: '\003E';
  float: right;
  margin-left: 0.3125em;
  color: #f25f18;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$value);
  display: inline-block;
}
/* line 189, header.scss */
body .container #header #menu ul li#info.active:after, body .container #header #menu ul li#search.active:after {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$value);
  display: inline-block;
}
/* line 193, header.scss */
body .container #header #menu ul li.cart {
  float: right;
}
@media (max-width: 480px) {
  /* line 172, header.scss */
  body .container #header #menu {
    font-size: small;
  }
}
@media only screen and (max-width: 768px) {
  /* line 206, header.scss */
  body .container #header #menu ul li#separator {
    width: 100%;
    display: block;
  }
  /* line 210, header.scss */
  body .container #header #menu ul li.cart {
    float: left;
    margin-top: 0.3125em;
  }
}
/* line 223, header.scss */
body .container #header #menu-info {
  width: 100%;
  float: left;
  display: none;
  background: #f1f1f1;
}
/* line 229, header.scss */
body .container #header #menu-info nav {
  width: 23%;
  margin-right: 2.6%;
  float: left;
}
/* line 566, mixins.scss */
body .container #header #menu-info nav.last {
  margin-right: 0;
}
/* line 232, header.scss */
body .container #header #menu-info nav h3 {
  color: #aaaaaa;
}
/* line 235, header.scss */
body .container #header #menu-info nav h3.outline {
  display: block;
  visibility: hidden;
}
/* line 241, header.scss */
body .container #header #menu-info nav ul {
  list-style: none;
  margin: 0;
}
/* line 245, header.scss */
body .container #header #menu-info nav ul#pages {
  list-style: none;
  margin: 0;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-style: italic;
  margin-top: 1.25em;
}
/* line 130, theme.scss */
body .container #header #menu-info nav ul#pages li {
  padding: 0 0.3125em;
  margin-bottom: 0.3125em;
  border-bottom: 1px solid #f1f1f1;
}
/* line 135, theme.scss */
body .container #header #menu-info nav ul#pages li:hover {
  border-bottom: 1px solid #cccccc;
}
/* line 138, theme.scss */
body .container #header #menu-info nav ul#pages li:hover a {
  color: #1b1b1b;
}
/* line 143, theme.scss */
body .container #header #menu-info nav ul#pages li a {
  width: 100%;
  display: block;
}
/* line 148, theme.scss */
body .container #header #menu-info nav ul#pages li.separator {
  padding: 0.625em;
}
/* line 249, header.scss */
body .container #header #menu-info nav ul#pages li {
  border-bottom: 1px solid #cccccc;
  padding: 0;
}
/* line 256, header.scss */
body .container #header #menu-info nav#contact {
  margin-left: 23%;
}
/* line 262, header.scss */
body .container #header #menu-info nav.shopping-info ul li {
  margin-bottom: 1.5625em;
}
/* line 265, header.scss */
body .container #header #menu-info nav.shopping-info ul li h4 {
  padding: 0 0 0.625em;
}
/* line 274, header.scss */
body .container #header #menu-info #close {
  float: right;
  margin-right: 0;
  text-align: right;
  position: relative;
  top: -15.8em;
}
/* line 282, header.scss */
body .container #header #menu-info #close span {
  cursor: pointer;
  padding-right: 0.625em;
}
/* line 287, header.scss */
body .container #header #menu-info #close span:after {
  content: '\2612';
  margin-left: 0.625em;
  font-size: large;
}

/* line 4, startpage.scss */
body.home .container section {
  width: 100%;
  float: left;
  margin: 0 0 1.25em;
}
/* line 9, startpage.scss */
body.home .container section #navigation {
  display: none;
}
/* line 13, startpage.scss */
body.home .container section header {
  display: none;
}
/* line 18, startpage.scss */
body.home .container section#campaigns {
  background: url(valentines2.jpg);
  height: 18em;
}
/* line 23, startpage.scss */
body.home .container section#campaigns #navigation {
  display: block;
  max-width: 18.5%;
  height: auto;
  margin-top: 2.5em;
  float: right;
  margin-right: 1%;
}
/* line 378, theme.scss */
body.home .container section#campaigns #navigation ul {
  display: block;
  margin: 0;
}
/* line 492, mixins.scss */
body.home .container section#campaigns #navigation ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
  float: left;
  margin-right: 1.25em;
}
/* line 499, mixins.scss */
body.home .container section#campaigns #navigation ul li.last {
  margin-right: 0;
}
/* line 381, theme.scss */
body.home .container section#campaigns #navigation ul li {
  cursor: pointer;
  width: 15px;
  height: 29px;
}
/* line 387, theme.scss */
body.home .container section#campaigns #navigation ul #left {
  background: url(left-arrow-black.png);
}
/* line 391, theme.scss */
body.home .container section#campaigns #navigation ul #right {
  background: url(right-arrow-black.png);
}
/* line 36, startpage.scss */
body.home .container section#campaigns #body {
  display: none;
}
/* line 45, startpage.scss */
body.home .container section#sales #body #products #product {
  width: 23%;
  margin-right: 2.6%;
  float: left;
  background: white url(stripe.png);
  padding-bottom: 1.25em;
}
/* line 577, mixins.scss */
body.home .container section#sales #body #products #product.c4 {
  margin-right: 0;
}
/* line 566, mixins.scss */
body.home .container section#sales #body #products #product.last {
  margin-right: 0;
}
/* line 423, theme.scss */
body.home .container section#sales #body #products #product #image, body.home .container section#sales #body #products #product #title, body.home .container section#sales #body #products #product #price {
  background: white;
}
/* line 427, theme.scss */
body.home .container section#sales #body #products #product img {
  width: 100%;
  padding: 0%;
  border: 1px solid #cccccc;
  background: white url(ajax-loader.gif) no-repeat 50% 50%;
}
/* line 431, theme.scss */
body.home .container section#sales #body #products #product #title, body.home .container section#sales #body #products #product #price {
  margin: 0.625em 0.3125em;
}
/* line 436, theme.scss */
body.home .container section#sales #body #products #product #title {
  padding: 0.625em;
  min-height: 3.125em;
}
/* line 440, theme.scss */
body.home .container section#sales #body #products #product #title h3 {
  padding: 0;
}
@media only screen and (min-width: 686px) and (max-width: 768px) {
  /* line 436, theme.scss */
  body.home .container section#sales #body #products #product #title {
    min-height: 5em;
  }
}
/* line 449, theme.scss */
body.home .container section#sales #body #products #product #price {
  display: inline-block;
  padding-right: 0.625em;
}
/* line 453, theme.scss */
body.home .container section#sales #body #products #product #price .normal-price, body.home .container section#sales #body #products #product #price .old-price {
  padding-right: 0;
}
/* line 458, theme.scss */
body.home .container section#sales #body #products #product #date {
  display: none;
}

/* line 4, footer.scss */
body .container #footer {
  width: 100%;
  float: left;
  margin: 1.25em 0;
}
/* line 8, footer.scss */
body .container #footer #info {
  width: 100%;
  float: left;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0.625em;
  margin-bottom: 0.625em;
}
/* line 14, footer.scss */
body .container #footer #info ul {
  display: block;
  margin: 0;
}
/* line 492, mixins.scss */
body .container #footer #info ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
  float: left;
  margin-right: 1.25em;
}
/* line 499, mixins.scss */
body .container #footer #info ul li.last {
  margin-right: 0;
}
/* line 17, footer.scss */
body .container #footer #info ul #go-top {
  float: right;
  margin-right: 0;
}
/* line 21, footer.scss */
body .container #footer #info ul #go-top:after {
  content: '\003E';
  float: right;
  margin-left: 0.3125em;
  color: #f25f18;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$value);
  display: inline-block;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$value);
  display: inline-block;
}
/* line 28, footer.scss */
body .container #footer #company {
  width: 100%;
  float: left;
  font-size: small;
  color: #cccccc;
}
@media (max-width: 480px) {
  /* line 4, footer.scss */
  body .container #footer {
    font-size: small;
  }
  /* line 39, footer.scss */
  body .container #footer #info ul #go-top {
    float: left;
  }
}

/* line 1, search.scss */
#search-enhanced {
  width: 100%;
  float: left;
  background: #4d8fce;
}
/* line 6, search.scss */
#search-enhanced form div {
  width: 30%;
  margin-right: 5%;
  float: left;
}
/* line 566, mixins.scss */
#search-enhanced form div.last {
  margin-right: 0;
}
/* line 9, search.scss */
#search-enhanced form div h3 {
  margin-left: 0.625em;
}
/* line 13, search.scss */
#search-enhanced form div ul {
  margin: 0 1.25em;
}
/* line 16, search.scss */
#search-enhanced form div ul li {
  background: #4d8fce;
  border-bottom: 1px dotted #363636;
}
/* line 20, search.scss */
#search-enhanced form div ul li input[type="checkbox"]:after {
  content: "\2610";
}
/* line 23, search.scss */
#search-enhanced form div ul li input[type="checkbox"]:checked:after {
  content: "\25a3";
}
/* line 29, search.scss */
#search-enhanced form div #submit {
  margin: 2.5em 0 1.25em 1.25em;
}
/* line 32, search.scss */
#search-enhanced form div #submit #advanced-search {
  font-size: small;
}
/* line 38, search.scss */
#search-enhanced form #categories, #search-enhanced form #searchbox {
  width: 100%;
  display: none;
}
/* line 44, search.scss */
#search-enhanced form #submit #advanced-search {
  cursor: pointer;
}
/* line 49, search.scss */
#search-enhanced form #searchbox {
  width: 100%;
  float: left;
  padding: 2.5em 1.25em;
}
/* line 53, search.scss */
#search-enhanced form #searchbox input[type="text"] {
  width: 62%;
}
/* line 58, search.scss */
#search-enhanced form #trending {
  width: 100%;
  float: left;
  margin: 5em 0;
}
/* line 62, search.scss */
#search-enhanced form #trending h2 {
  width: 30%;
  float: left;
  margin-right: 3%;
  padding-right: 3%;
  border-right: 1px dotted;
}
/* line 70, search.scss */
#search-enhanced form #trending #items {
  width: 55%;
  margin-left: 3%;
  float: left;
}

/* line 1, archive.scss */
body.archive {
  /* http://stackoverflow.com/questions/6794000/css-fixed-position-but-relative-to-container */
}
/* line 5, archive.scss */
body.archive #header.fixed {
  width: 90%;
  margin: 0 auto;
  margin: 0;
  height: 5em;
  background: white url(background.png);
  border-bottom: 1px dotted;
}
@media only screen and (max-width: 1024px) {
  /* line 5, archive.scss */
  body.archive #header.fixed {
    width: 98%;
  }
}
@media only screen and (min-width: 1599px) {
  /* line 5, archive.scss */
  body.archive #header.fixed {
    width: 70%;
  }
}
/* line 13, archive.scss */
body.archive #header.fixed #logo {
  height: 2.1875em;
  width: 7.65625em;
}
/* line 482, theme.scss */
body.archive #header.fixed #logo .smart-stuff-cell, body.archive #header.fixed #logo .smart-stuff, body.archive #header.fixed #logo .ro-cell, body.archive #header.fixed #logo .ro {
  display: none;
}
/* line 507, theme.scss */
body.archive #header.fixed #logo .cell {
  width: 0.3125em;
  height: 0.3125em;
  float: left;
}
/* line 513, theme.scss */
body.archive #header.fixed #logo .small {
  width: 0.15625em;
}
/* line 517, theme.scss */
body.archive #header.fixed #logo .set, body.archive #header.fixed #logo .ro {
  background: #363636;
}
/* line 521, theme.scss */
body.archive #header.fixed #logo .square {
  background: #cccccc;
}
/* line 526, theme.scss */
body.archive #header.fixed #logo:hover {
  width: 15em;
}
/* line 529, theme.scss */
body.archive #header.fixed #logo:hover .smart-stuff-cell {
  display: block;
}
/* line 16, archive.scss */
body.archive #header.fixed #logo:hover {
  width: 10.2083em !important;
}
/* line 21, archive.scss */
body.archive #header.fixed #strapline, body.archive #header.fixed #menu, body.archive #header.fixed #search {
  display: none;
}
/* line 26, archive.scss */
body.archive #archive hgroup.fixed {
  width: 77.5%;
  margin: 0 auto;
  margin-left: 12.5%;
  height: 3.75em;
  padding-top: 0.3125em;
  background: url(background.png);
}
@media only screen and (max-width: 1024px) {
  /* line 26, archive.scss */
  body.archive #archive hgroup.fixed {
    width: 85.5%;
  }
}
@media only screen and (min-width: 1599px) {
  /* line 26, archive.scss */
  body.archive #archive hgroup.fixed {
    width: 57.5%;
  }
}
/* line 34, archive.scss */
body.archive #archive hgroup.fixed header {
  width: 23%;
}
/* line 38, archive.scss */
body.archive #archive hgroup.fixed #filters {
  width: 74.5%;
}
/* line 44, archive.scss */
body.archive #archive {
  width: 100%;
  float: left;
}
/* line 48, archive.scss */
body.archive #archive hgroup {
  width: 100%;
  float: left;
  margin-bottom: 1.25em;
}
/* line 52, archive.scss */
body.archive #archive hgroup header {
  width: 18%;
  margin-right: 2.5%;
  float: left;
}
/* line 566, mixins.scss */
body.archive #archive hgroup header.last {
  margin-right: 0;
}
/* line 55, archive.scss */
body.archive #archive hgroup header h2 {
  padding: 0.625em 0 0 0.625em;
}
/* line 60, archive.scss */
body.archive #archive hgroup #filters {
  width: 79.5%;
  float: left;
  padding-top: 0.3125em;
}
/* line 65, archive.scss */
body.archive #archive hgroup #filters nav {
  width: 23%;
  margin-right: 2.6%;
  float: left;
  padding: 0.625em 0 0;
}
/* line 566, mixins.scss */
body.archive #archive hgroup #filters nav.last {
  margin-right: 0;
}
/* line 69, archive.scss */
body.archive #archive hgroup #filters nav select {
  font-size: small;
}
/* line 73, archive.scss */
body.archive #archive hgroup #filters nav .select:after {
  top: -1.35em;
}
/* line 77, archive.scss */
body.archive #archive hgroup #filters nav.last {
  margin-right: 0;
}
/* line 85, archive.scss */
body.archive #archive #products {
  width: 100%;
  float: left;
}
/* line 88, archive.scss */
body.archive #archive #products #product {
  width: 23%;
  margin-right: 2.6%;
  float: left;
  margin-bottom: 1.25em;
  background: white url(stripe.png);
  padding-bottom: 1.25em;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c4 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c8 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c12 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c16 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c20 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c24 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c28 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c32 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c36 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c40 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c44 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c48 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c52 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c56 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c60 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c64 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c68 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c72 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c76 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c80 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c84 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c88 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c92 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c96 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.archive #archive #products #product.c100 {
  margin-right: 0;
}
/* line 566, mixins.scss */
body.archive #archive #products #product.last {
  margin-right: 0;
}
/* line 423, theme.scss */
body.archive #archive #products #product #image, body.archive #archive #products #product #title, body.archive #archive #products #product #price {
  background: white;
}
/* line 427, theme.scss */
body.archive #archive #products #product img {
  width: 100%;
  padding: 0%;
  border: 1px solid #cccccc;
  background: white url(ajax-loader.gif) no-repeat 50% 50%;
}
/* line 431, theme.scss */
body.archive #archive #products #product #title, body.archive #archive #products #product #price {
  margin: 0.625em 0.3125em;
}
/* line 436, theme.scss */
body.archive #archive #products #product #title {
  padding: 0.625em;
  min-height: 3.125em;
}
/* line 440, theme.scss */
body.archive #archive #products #product #title h3 {
  padding: 0;
}
@media only screen and (min-width: 686px) and (max-width: 768px) {
  /* line 436, theme.scss */
  body.archive #archive #products #product #title {
    min-height: 5em;
  }
}
/* line 449, theme.scss */
body.archive #archive #products #product #price {
  display: inline-block;
  padding-right: 0.625em;
}
/* line 453, theme.scss */
body.archive #archive #products #product #price .normal-price, body.archive #archive #products #product #price .old-price {
  padding-right: 0;
}
/* line 458, theme.scss */
body.archive #archive #products #product #date {
  display: none;
}
/* line 95, archive.scss */
body.archive #archive #products #product .normal-price {
  background: white;
}

/* line 6, single.scss */
body.single .container #header #menu #info:after {
  color: #8aea4c;
  font-style: normal;
}
/* line 13, single.scss */
body.single .container article {
  width: 100%;
  float: left;
  margin-bottom: 1.25em;
}
/* line 17, single.scss */
body.single .container article #article-title, body.single .container article #shopping-cart, body.single .container article #images, body.single .container article #description, body.single .container article #share {
  width: 47.5%;
  margin-right: 5%;
  float: left;
}
/* line 566, mixins.scss */
body.single .container article #article-title.last, body.single .container article #shopping-cart.last, body.single .container article #images.last, body.single .container article #description.last, body.single .container article #share.last {
  margin-right: 0;
}
@media (max-width: 480px) {
  /* line 17, single.scss */
  body.single .container article #article-title, body.single .container article #shopping-cart, body.single .container article #images, body.single .container article #description, body.single .container article #share {
    width: 100%;
    float: left;
  }
}
/* line 25, single.scss */
body.single .container article #article-title, body.single .container article #shopping-cart, body.single .container article #description, body.single .container article #share {
  float: right;
  margin-right: 0;
}
/* line 31, single.scss */
body.single .container article #article-title h1 {
  padding: 0;
}
/* line 36, single.scss */
body.single .container article #excerpt, body.single .container article #date, body.single .container article #url {
  display: none;
}
/* line 254, theme.scss */
body.single .container article #shopping-cart #add-to-cart {
  width: 100%;
  float: left;
  border: 1px dotted;
  margin-top: 1.25em;
}
/* line 259, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container {
  padding: 1.25em;
}
/* line 263, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .imagecol {
  display: none;
}
/* line 267, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .delivery {
  width: 100%;
  float: left;
}
/* line 271, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations {
  width: 100%;
  float: left;
  margin-bottom: 1.25em;
}
/* line 276, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .wpsc_variation_forms {
  margin-top: 1.25em;
}
/* line 280, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .wpsc_variation_forms .select select {
  border-top: 1px dotted #aaaaaa;
  border-bottom: 1px dotted #aaaaaa;
  padding: 0.3125em 0;
  margin: 0 0 0.625em;
  font-size: 90%;
}
/* line 289, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .wpsc_variation_forms .select:after {
  padding: 1.25em;
  background: #363636;
  color: white;
  top: -3.5em;
}
/* line 299, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .wpsc_product_price {
  float: left;
}
/* line 302, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .wpsc_product_price .price {
  margin-right: 1.25em;
  padding: 0.625em;
  margin-top: 0.3125em;
}
/* line 307, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .wpsc_product_price .normal-price.on-sale {
  background: #f25f18;
  padding: 0 0.625em;
}
/* line 311, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .wpsc_product_price .oldprice.on-sale {
  margin-right: 0;
  margin-bottom: 0.3125em;
  padding: 0;
}
/* line 316, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .wpsc_product_price .old-price, body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .wpsc_product_price .oldprice {
  background: #f25f18;
}
/* line 321, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .add-to-cart-button {
  float: left;
}
/* line 324, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .add-to-cart-button input[type="submit"] {
  -webkit-border-radius: 6% 6%;
  -moz-border-radius: 6% / 6%;
  border-radius: 6% / 6%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #95ec5d), color-stop(100%, #7cd244));
  background-image: -webkit-linear-gradient(center top, #95ec5d 5%, #7cd244 100%);
  background-image: -moz-linear-gradient(center top, #95ec5d 5%, #7cd244 100%);
  background-image: -o-linear-gradient(center top, #95ec5d 5%, #7cd244 100%);
  background-image: linear-gradient(center top, #95ec5d 5%, #7cd244 100%);
  border: 1px solid #83de48;
  color: #363636;
  text-shadow: 0px 0px 1px #999999;
}
/* line 244, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .add-to-cart-button input[type="submit"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #7cd244), color-stop(100%, #95ec5d));
  background-image: -webkit-linear-gradient(center top, #7cd244 5%, #95ec5d 100%);
  background-image: -moz-linear-gradient(center top, #7cd244 5%, #95ec5d 100%);
  background-image: -o-linear-gradient(center top, #7cd244 5%, #95ec5d 100%);
  background-image: linear-gradient(center top, #7cd244 5%, #95ec5d 100%);
}
/* line 328, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .add-to-cart-button #quantity {
  display: none;
  width: 5em;
  margin-right: 1.25em;
  float: left;
  font-size: small;
  margin-top: 0.9375em;
}
/* line 338, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .add-to-cart-button #quantity label.select:after {
  padding: 0 .7em;
  left: .25em;
  top: -1.6em;
}
/* line 346, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .checkout {
  display: none;
}
/* line 350, theme.scss */
body.single .container article #shopping-cart #add-to-cart .wpsc_container .cart-operations .wpsc_loading_animation {
  visibility: hidden;
}
/* line 361, theme.scss */
body.single .container article #shopping-cart #add-to-cart #product-discontinued {
  padding: 1.25em;
}
/* line 364, theme.scss */
body.single .container article #shopping-cart #add-to-cart #product-discontinued p {
  margin-bottom: 1.25em;
}
/* line 368, theme.scss */
body.single .container article #shopping-cart #add-to-cart #product-discontinued input[type="submit"] {
  -webkit-border-radius: 6% 6%;
  -moz-border-radius: 6% / 6%;
  border-radius: 6% / 6%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #5e9ad2), color-stop(100%, #4580b9));
  background-image: -webkit-linear-gradient(center top, #5e9ad2 5%, #4580b9 100%);
  background-image: -moz-linear-gradient(center top, #5e9ad2 5%, #4580b9 100%);
  background-image: -o-linear-gradient(center top, #5e9ad2 5%, #4580b9 100%);
  background-image: linear-gradient(center top, #5e9ad2 5%, #4580b9 100%);
  border: 1px solid #4987c3;
  color: white;
  text-shadow: 0px 0px 1px #999999;
}
/* line 244, theme.scss */
body.single .container article #shopping-cart #add-to-cart #product-discontinued input[type="submit"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #4580b9), color-stop(100%, #5e9ad2));
  background-image: -webkit-linear-gradient(center top, #4580b9 5%, #5e9ad2 100%);
  background-image: -moz-linear-gradient(center top, #4580b9 5%, #5e9ad2 100%);
  background-image: -o-linear-gradient(center top, #4580b9 5%, #5e9ad2 100%);
  background-image: linear-gradient(center top, #4580b9 5%, #5e9ad2 100%);
}
/* line 47, single.scss */
body.single .container article #images {
  cursor: pointer;
}
/* line 51, single.scss */
body.single .container article #images #large-image img {
  width: 100%;
  padding: 0%;
  border: 1px solid #cccccc;
  background: white url(ajax-loader.gif) no-repeat 50% 50%;
}
/* line 56, single.scss */
body.single .container article #images #thumbs {
  margin-top: 1.25em;
}
/* line 59, single.scss */
body.single .container article #images #thumbs #thumb {
  width: 18%;
  margin-right: 2.5%;
  float: left;
  margin-bottom: 1.25em;
  cursor: pointer;
}
/* line 577, mixins.scss */
body.single .container article #images #thumbs #thumb.c5 {
  margin-right: 0;
}
/* line 577, mixins.scss */
body.single .container article #images #thumbs #thumb.c10 {
  margin-right: 0;
}
/* line 566, mixins.scss */
body.single .container article #images #thumbs #thumb.last {
  margin-right: 0;
}
/* line 65, single.scss */
body.single .container article #images #thumbs #thumb img {
  width: 96%;
  padding: 2%;
  border: 1px solid #cccccc;
  background: white url(ajax-loader.gif) no-repeat 50% 50%;
}
/* line 73, single.scss */
body.single .container article #description {
  margin-top: 1.25em;
}
/* line 76, single.scss */
body.single .container article #description ul#tabs {
  width: 100%;
  float: left;
  display: block;
  margin: 0;
  border-bottom: 1px solid #cccccc;
}
/* line 492, mixins.scss */
body.single .container article #description ul#tabs li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
  float: left;
  margin-right: 1.25em;
}
/* line 499, mixins.scss */
body.single .container article #description ul#tabs li.last {
  margin-right: 0;
}
/* line 160, theme.scss */
body.single .container article #description ul#tabs li {
  color: #aaaaaa;
  cursor: pointer;
  font-style: italic;
  padding: 0.3125em 0.625em;
  margin: 0 0 0 0.625em;
  border: 1px solid #cccccc;
  border-bottom: none;
}
/* line 171, theme.scss */
body.single .container article #description ul#tabs li.active {
  font-style: normal;
  color: #363636;
  background: white;
  border-bottom: 1px solid white;
  position: relative;
  top: 1px;
}
/* line 181, theme.scss */
body.single .container article #description ul#tabs li.first {
  margin-left: 1.25em;
}
/* line 80, single.scss */
body.single .container article #description div {
  padding: 1.25em;
  margin: 2.5em 0 0;
  background: white;
  line-height: 1.75;
  max-width: 600px;
  font-size: 90%;
}
/* line 218, theme.scss */
body.single .container article #description div br {
  margin-top: 1.25em;
  display: block;
}
/* line 223, theme.scss */
body.single .container article #description div ul {
  margin: 0 1.25em;
}
/* line 226, theme.scss */
body.single .container article #description div ul li {
  margin-bottom: 0.625em;
  padding-bottom: 0.3125em;
  border-bottom: 1px solid #f1f1f1;
}
/* line 85, single.scss */
body.single .container article #share {
  margin-left: 52.5%;
}
/* line 88, single.scss */
body.single .container article #share ul {
  display: block;
  margin: 0;
  margin-left: 1.25em;
}
/* line 492, mixins.scss */
body.single .container article #share ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
  float: left;
  margin-right: 1.25em;
}
/* line 499, mixins.scss */
body.single .container article #share ul li.last {
  margin-right: 0;
}
/* line 98, single.scss */
body.single .container #phone-orders {
  width: 100%;
  float: left;
  width: 50%;
  position: relative;
  left: 52.5%;
  top: -3.75em;
}
/* line 109, single.scss */
body.single .container section {
  width: 100%;
  float: left;
}
/* line 112, single.scss */
body.single .container section h2 {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 0.3125em;
  margin-bottom: 1.25em;
}
/* line 118, single.scss */
body.single .container section #product {
  width: 23%;
  margin-right: 2.6%;
  float: left;
  margin-bottom: 1.25em;
  background: white url(stripe.png);
  padding-bottom: 1.25em;
}
/* line 577, mixins.scss */
body.single .container section #product.c4 {
  margin-right: 0;
}
/* line 566, mixins.scss */
body.single .container section #product.last {
  margin-right: 0;
}
/* line 423, theme.scss */
body.single .container section #product #image, body.single .container section #product #title, body.single .container section #product #price {
  background: white;
}
/* line 427, theme.scss */
body.single .container section #product img {
  width: 100%;
  padding: 0%;
  border: 1px solid #cccccc;
  background: white url(ajax-loader.gif) no-repeat 50% 50%;
}
/* line 431, theme.scss */
body.single .container section #product #title, body.single .container section #product #price {
  margin: 0.625em 0.3125em;
}
/* line 436, theme.scss */
body.single .container section #product #title {
  padding: 0.625em;
  min-height: 3.125em;
}
/* line 440, theme.scss */
body.single .container section #product #title h3 {
  padding: 0;
}
@media only screen and (min-width: 686px) and (max-width: 768px) {
  /* line 436, theme.scss */
  body.single .container section #product #title {
    min-height: 5em;
  }
}
/* line 449, theme.scss */
body.single .container section #product #price {
  display: inline-block;
  padding-right: 0.625em;
}
/* line 453, theme.scss */
body.single .container section #product #price .normal-price, body.single .container section #product #price .old-price {
  padding-right: 0;
}
/* line 458, theme.scss */
body.single .container section #product #date {
  display: none;
}
/* line 124, single.scss */
body.single .container section #product .normal-price, body.single .container section #product .old-price {
  background: white;
}
@media (max-width: 480px) {
  /* line 118, single.scss */
  body.single .container section #product {
    width: 100%;
    float: left;
    margin-right: 0;
  }
}

/* line 4, page.scss */
body .container #page.logo {
  width: 100%;
  float: left;
  background: white;
}
/* line 8, page.scss */
body .container #page.logo #logo {
  width: 100%;
  float: left;
  margin: 6.25em 0;
  background: white;
}
/* line 13, page.scss */
body .container #page.logo #logo.normal {
  height: 21.875em;
  width: 76.5625em;
}
/* line 482, theme.scss */
body .container #page.logo #logo.normal .smart-stuff-cell, body .container #page.logo #logo.normal .smart-stuff, body .container #page.logo #logo.normal .ro-cell, body .container #page.logo #logo.normal .ro {
  display: none;
}
/* line 507, theme.scss */
body .container #page.logo #logo.normal .cell {
  width: 3.125em;
  height: 3.125em;
  float: left;
}
/* line 513, theme.scss */
body .container #page.logo #logo.normal .small {
  width: 1.5625em;
}
/* line 517, theme.scss */
body .container #page.logo #logo.normal .set, body .container #page.logo #logo.normal .ro {
  background: #363636;
}
/* line 521, theme.scss */
body .container #page.logo #logo.normal .square {
  background: #cccccc;
}
/* line 526, theme.scss */
body .container #page.logo #logo.normal:hover {
  width: 150em;
}
/* line 529, theme.scss */
body .container #page.logo #logo.normal:hover .smart-stuff-cell {
  display: block;
}
/* line 16, page.scss */
body .container #page.logo #logo.normal:hover {
  width: 76.5625em !important;
}
/* line 21, page.scss */
body .container #page.logo #logo.extended {
  height: 10.5em;
  width: 72em;
}
/* line 482, theme.scss */
body .container #page.logo #logo.extended .smart-stuff-cell, body .container #page.logo #logo.extended .smart-stuff, body .container #page.logo #logo.extended .ro-cell, body .container #page.logo #logo.extended .ro {
  display: none;
}
/* line 495, theme.scss */
body .container #page.logo #logo.extended .smart-stuff-cell, body .container #page.logo #logo.extended .smart-stuff {
  display: block;
}
/* line 507, theme.scss */
body .container #page.logo #logo.extended .cell {
  width: 1.5em;
  height: 1.5em;
  float: left;
}
/* line 513, theme.scss */
body .container #page.logo #logo.extended .small {
  width: 0.75em;
}
/* line 517, theme.scss */
body .container #page.logo #logo.extended .set, body .container #page.logo #logo.extended .ro {
  background: #363636;
}
/* line 521, theme.scss */
body .container #page.logo #logo.extended .square {
  background: #cccccc;
}
/* line 526, theme.scss */
body .container #page.logo #logo.extended:hover {
  width: 72em;
}
/* line 529, theme.scss */
body .container #page.logo #logo.extended:hover .smart-stuff-cell {
  display: block;
}
/* line 25, page.scss */
body .container #page.logo #logo.ro {
  height: 15.3125em;
  width: 72.1875em;
}
/* line 482, theme.scss */
body .container #page.logo #logo.ro .smart-stuff-cell, body .container #page.logo #logo.ro .smart-stuff, body .container #page.logo #logo.ro .ro-cell, body .container #page.logo #logo.ro .ro {
  display: none;
}
/* line 502, theme.scss */
body .container #page.logo #logo.ro .ro-cell, body .container #page.logo #logo.ro .ro {
  display: block;
}
/* line 507, theme.scss */
body .container #page.logo #logo.ro .cell {
  width: 2.1875em;
  height: 2.1875em;
  float: left;
}
/* line 513, theme.scss */
body .container #page.logo #logo.ro .small {
  width: 1.09375em;
}
/* line 517, theme.scss */
body .container #page.logo #logo.ro .set, body .container #page.logo #logo.ro .ro {
  background: #363636;
}
/* line 521, theme.scss */
body .container #page.logo #logo.ro .square {
  background: #cccccc;
}
/* line 526, theme.scss */
body .container #page.logo #logo.ro:hover {
  width: 105em;
}
/* line 529, theme.scss */
body .container #page.logo #logo.ro:hover .smart-stuff-cell {
  display: block;
}
/* line 28, page.scss */
body .container #page.logo #logo.ro:hover {
  width: 72.1875em !important;
}

/* line 1, giftshopper.scss */
#giftshopper {
  margin: 0 0 1.25em;
}
/* line 4, giftshopper.scss */
#giftshopper #title {
  display: block;
}
/* line 7, giftshopper.scss */
#giftshopper #title h2 {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-style: italic;
  font-size: 1em;
  text-transform: none;
  padding: 0;
  margin: 0.625em 0;
}
/* line 19, giftshopper.scss */
#giftshopper #body div {
  width: 23%;
  margin-right: 2.6%;
  float: left;
  background: #f1f1f1;
  cursor: pointer;
  overflow: hidden;
  -webkit-border-radius: 10em 10em;
  -moz-border-radius: 10em / 10em;
  border-radius: 10em / 10em;
  height: 18em;
}
/* line 577, mixins.scss */
#giftshopper #body div.c4 {
  margin-right: 0;
}
/* line 566, mixins.scss */
#giftshopper #body div.last {
  margin-right: 0;
}
/* line 27, giftshopper.scss */
#giftshopper #body div#for-him {
  background: #f1f1f1 url(giftshopper-man.jpg) no-repeat center 0;
}
/* line 30, giftshopper.scss */
#giftshopper #body div#for-her {
  background: #f1f1f1 url(giftshopper-woman.jpg) no-repeat center 0;
}
/* line 33, giftshopper.scss */
#giftshopper #body div#for-kids {
  background: #f1f1f1 url(giftshopper-kids.jpg) no-repeat center 0;
}
/* line 36, giftshopper.scss */
#giftshopper #body div#for-office {
  background: #f1f1f1 url(giftshopper-home-office.jpg) no-repeat center 1em;
}
/* line 110, theme.scss */
#giftshopper #body div p {
  margin-top: 16em;
}
/* line 43, giftshopper.scss */
#giftshopper #body div p {
  text-align: center;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  background: #f1f1f1;
}

/* line 1, categories.scss */
#more-categories {
  width: 100%;
  float: left;
  margin-top: 1.25em;
}
/* line 5, categories.scss */
#more-categories #title {
  display: none;
}
/* line 9, categories.scss */
#more-categories nav {
  width: 23%;
  margin-right: 2.6%;
  float: left;
}
/* line 566, mixins.scss */
#more-categories nav.last {
  margin-right: 0;
}
/* line 12, categories.scss */
#more-categories nav #title {
  display: block;
}
/* line 15, categories.scss */
#more-categories nav #title h3 {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0.625em;
}
/* line 20, categories.scss */
#more-categories nav ul, #more-categories nav ol {
  list-style: none;
  margin: 0;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-style: italic;
  margin-top: 1.25em;
  margin-left: 0.625em;
}
/* line 130, theme.scss */
#more-categories nav ul li, #more-categories nav ol li {
  padding: 0 0.3125em;
  margin-bottom: 0.3125em;
  border-bottom: 1px solid #f1f1f1;
}
/* line 135, theme.scss */
#more-categories nav ul li:hover, #more-categories nav ol li:hover {
  border-bottom: 1px solid #cccccc;
}
/* line 138, theme.scss */
#more-categories nav ul li:hover a, #more-categories nav ol li:hover a {
  color: #1b1b1b;
}
/* line 143, theme.scss */
#more-categories nav ul li a, #more-categories nav ol li a {
  width: 100%;
  display: block;
}
/* line 148, theme.scss */
#more-categories nav ul li.separator, #more-categories nav ol li.separator {
  padding: 0.625em;
}
/* line 25, categories.scss */
#more-categories nav ul li, #more-categories nav ol li {
  border-color: white;
}
/* line 28, categories.scss */
#more-categories nav ul li:hover, #more-categories nav ol li:hover {
  border-color: #f1f1f1;
}
/* line 34, categories.scss */
#more-categories nav ol {
  list-style: decimal;
  margin-left: 1.875em;
}
