/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, metrics.scss */
img {
  max-width: 100%;
}

@media only screen and (max-width: 480px) {
  /* line 40, metrics.scss */
  .mobile {
    display: block;
  }

  /* line 43, metrics.scss */
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  /* line 48, metrics.scss */
  .mobile {
    display: none;
  }

  /* line 51, metrics.scss */
  .desktop {
    display: block;
  }
}
/* line 2, typography.scss */
body {
  font-size: 75%;
  line-height: 1.25;
}
/* line 19, typography.scss */
body .container h1 {
  font-size: 4.23077em;
  padding: 1.2955em 0;
}
@media only screen and (max-width: 320px) {
  /* line 19, typography.scss */
  body .container h1 {
    font-size: 2em;
    padding: 1.25em 0;
  }
}
/* line 28, typography.scss */
body .container h2 {
  font-size: 2.61538em;
  padding: 1.2868em 0;
}
@media only screen and (max-width: 320px) {
  /* line 28, typography.scss */
  body .container h2 {
    font-size: 1.61538em;
    padding: 1.30958em 0;
  }
}
/* line 37, typography.scss */
body .container h3 {
  font-size: 1.61538em;
  padding: 1.30958em 0;
}
@media only screen and (max-width: 320px) {
  /* line 37, typography.scss */
  body .container h3 {
    font-size: 1.23077em;
    padding: 1.40615em 0;
  }
}
/* line 46, typography.scss */
body .container h4 {
  font-size: large;
}
/* line 47, typography.scss */
body .container h5 {
  text-transform: uppercase;
}
/* line 48, typography.scss */
body .container h6 {
  font-vriant: small-caps;
}
/* line 58, typography.scss */
body .container p + p {
  margin-top: 1.25em;
}
/* line 63, typography.scss */
body .container q, body .container blockquote {
  margin: 1.25em;
  border-left: 1px dotted;
  padding-left: 1.25em;
  font-style: italic;
  font-size: larger;
}
/* line 74, typography.scss */
body .container address {
  font-variant: small-caps;
}
/* line 82, typography.scss */
body .container ul, body .container menu, body .container dir, body .container ol {
  margin: 1.25em;
  list-style-type: square;
}
/* line 87, typography.scss */
body .container ol {
  list-style-type: decimal;
}
/* line 91, typography.scss */
body .container dl {
  margin: 1.25em 0;
}
/* line 94, typography.scss */
body .container dl dt {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 98, typography.scss */
body .container dl dd {
  margin: 0.625em 1.25em 1.875em;
}
/* line 108, typography.scss */
body .container table {
  margin: 1.25em 0;
}
/* line 113, typography.scss */
body .container table thead tr td {
  font-weight: bold;
}
/* line 119, typography.scss */
body .container table tbody {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}
/* line 124, typography.scss */
body .container table td, body .container table th, body .container table tr {
  text-align: left;
  vertical-align: top;
}
/* line 129, typography.scss */
body .container table td {
  padding: 1.25em;
}
/* line 139, typography.scss */
body .container em {
  font-style: italic;
}
/* line 143, typography.scss */
body .container strong {
  font-weight: bold;
}
/* line 155, typography.scss */
body .container input, body .container textarea {
  border: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: medium;
  font-family: monospace;
}
/* line 168, typography.scss */
body .container input[type='text'], body .container input[type='password'], body .container input[type='email'] {
  border-bottom: 1px solid;
  font-style: italic;
  color: gray;
  padding: 0.625em;
}
/* line 175, typography.scss */
body .container input[type='text']:focus, body .container input[type='password']:focus, body .container input[type='email']:focus {
  color: black;
  font-style: normal;
}
/* line 181, typography.scss */
body .container input[type='submit'] {
  background: black;
  color: lightgray;
  padding: 0.625em;
}
/* line 186, typography.scss */
body .container input[type='submit']:hover {
  cursor: pointer;
  color: white;
}
/* line 193, typography.scss */
body .container input[type='radio']:after {
  content: '\2610';
  margin-right: 0.625em;
}
/* line 197, typography.scss */
body .container input[type='radio']:checked:after {
  content: '\25a3';
}
/* line 202, typography.scss */
body .container input[type='checkbox']:after {
  content: '\272A';
  margin-right: 0.15625em;
}
/* line 213, typography.scss */
body .container input[type='checkbox']:checked:after {
  color: black;
}

/* Site specific mixins
*/
/* General mixins
*/
/* set z-index

- parent must have set 'position'
- this element must have set weight
- http://www.tjkdesign.com/articles/z-index/teach_yourself_how_elements_stack.asp

*/
/* rotate

- example rotate(180deg, 1.5)
*/
/* underline a text with padding and margin
*/
/* make cursor to be pointer
*/
/* list, inline 
*/
/* table, simple
*/
/* make a column 
*/
/* box-shadow
*/
/* make image fit within container
*/
/* hide an element 
*/
/* block element -- expand something full size inside a container
*/
/* Colors
---------------------------------------------------
*/
/* Theme mixins
---------------------------------------------------
*/
/* line 389, theme.scss */
body {
  background: white url(dotted_bg.png);
}
/* line 392, theme.scss */
body .container {
  /* Fonts
  ---------------------------------------------------
  */
  font-family: 'Coda', serif;
  /* Links
  ---------------------------------------------------
  */
  /* Price
  ---------------------------------------------------
  */
  /* Tooltips
  ----------------------------------------------------
  - syntax: <span class="tooltip">short text<span class="tooltip-text">long text .......</span></span>
  - styling tooltips is done inside #tooltip not .tooltip-text
  */
  /* Search
  ---------------------------------------------------
  */
  /* Header
  ---------------------------------------------------
  */
  /* Startpage
  ---------------------------------------------------
  */
  /* Hot
  ---------------------------------------------------
  */
  /* Bestsellers
  ---------------------------------------------------
  */
  /* Search
  ---------------------------------------------------
  */
  /* Promo
  ---------------------------------------------------
  */
  /* Footer
  ---------------------------------------------------
  */
}
/* line 400, theme.scss */
body .container h1, body .container h2 {
  font-family: 'Oswald', sans-serif;
}
/* line 411, theme.scss */
body .container a, body .container a:visited {
  color: #111111;
  text-decoration: none;
}
/* line 415, theme.scss */
body .container #accordion a, body .container #accordion a:visited {
  border-bottom: 1px dotted;
}
/* line 425, theme.scss */
body .container .price, body .container .normal-price {
  border: #cccccc;
  padding: 0.3125em;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
}
/* line 431, theme.scss */
body .container .price {
  background: #f25f18;
}
/* line 434, theme.scss */
body .container .old-price, body .container .oldprice {
  text-decoration: line-through;
}
/* line 437, theme.scss */
body .container .normal-price {
  background: #4d8fce;
}
/* line 449, theme.scss */
body .container .tooltip {
  cursor: pointer;
}
/* line 452, theme.scss */
body .container .tooltip-text {
  display: none;
}
/* line 455, theme.scss */
body .container #tooltip {
  background: #4d8fce;
  padding: 1.25em;
  position: absolute;
}
/* line 460, theme.scss */
body .container #tooltip ul {
  list-style: none;
}
/* line 463, theme.scss */
body .container #tooltip ul li, body .container #tooltip ol li {
  padding: 0.3125em;
  margin: 0.3125em;
  border-bottom: 1px dotted;
}
/* line 474, theme.scss */
body .container #search-enhanced {
  width: 100%;
  float: left;
  background: #4d8fce;
}
/* line 478, theme.scss */
body .container #search-enhanced h3 {
  margin-left: 0.625em;
}
/* line 482, theme.scss */
body .container #search-enhanced ul {
  list-style: none;
  margin: 0;
  margin: 0 1.25em;
}
/* line 120, theme.scss */
body .container #search-enhanced ul li {
  margin-bottom: 0.3125em;
  padding: 0.3125em;
  background: white;
  border-bottom: 1px solid #cccccc;
}
/* line 486, theme.scss */
body .container #search-enhanced ul li {
  background: #4d8fce;
  border-bottom: 1px dotted #111111;
}
/* line 490, theme.scss */
body .container #search-enhanced ul li input[type="checkbox"]:after {
  content: "\2610";
}
/* line 493, theme.scss */
body .container #search-enhanced ul li input[type="checkbox"]:checked:after {
  content: "\25a3";
}
/* line 499, theme.scss */
body .container #search-enhanced #submit {
  margin: 2.5em 0 1.25em 1.25em;
}
/* line 502, theme.scss */
body .container #search-enhanced #submit #advanced-search {
  font-size: small;
}
/* line 508, theme.scss */
body .container #trending {
  width: 100%;
  float: left;
  margin: 5em 0;
}
/* line 512, theme.scss */
body .container #trending h2 {
  width: 30%;
  float: left;
  margin-right: 3%;
  padding-right: 3%;
  border-right: 1px dotted;
}
/* line 520, theme.scss */
body .container #trending #items {
  width: 55%;
  margin-left: 3%;
  float: left;
}
/* line 525, theme.scss */
body .container #trending #items .trend {
  font-style: italic;
  font-size: large;
  float: left;
  margin: 0.625em;
}
/* line 542, theme.scss */
body .container #header #cart #widgetshoppingcart {
  background: url(stripe.png);
  padding: 1.25em;
}
@media only screen and (max-width: 320px) {
  /* line 542, theme.scss */
  body .container #header #cart #widgetshoppingcart {
    padding: 1.25em 0.625em;
    font-size: smaller;
  }
}
/* line 551, theme.scss */
body .container #header #cart #widgetshoppingcart ul {
  list-style: none;
  margin: 0;
}
/* line 120, theme.scss */
body .container #header #cart #widgetshoppingcart ul li {
  margin-bottom: 0.3125em;
  padding: 0.3125em;
  background: white;
  border-bottom: 1px solid #cccccc;
}
/* line 554, theme.scss */
body .container #header #cart #widgetshoppingcart ul li#message {
  background: #8aea4c;
}
/* line 558, theme.scss */
body .container #header #cart #widgetshoppingcart ul li a:hover {
  font-weight: bold;
}
/* line 561, theme.scss */
body .container #header #cart #widgetshoppingcart ul li strong {
  color: #f25f18;
}
/* line 571, theme.scss */
body .container #header hgroup #logo h1 {
  font-weight: bold;
  padding: 0.3125em 0 0;
}
/* line 578, theme.scss */
body .container #header hgroup #strapline h2 {
  color: #f25f18;
  padding: 0.9375em 0 0;
  font-weight: bold;
}
/* line 586, theme.scss */
body .container #header hgroup #page-name h2 {
  color: #aaaaaa;
  padding: 0.9375em 0 0;
  text-align: right;
}
/* line 594, theme.scss */
body .container #header nav {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0.625em 0;
  margin: 1.25em 0;
  font-size: larger;
}
/* line 602, theme.scss */
body .container #header nav ul li {
  margin-right: 1.25em;
}
/* line 605, theme.scss */
body .container #header nav ul li a:hover {
  border-bottom: 1px solid;
}
/* line 609, theme.scss */
body .container #header nav ul li.all-products-link {
  margin-right: 0;
  float: right;
}
@media only screen and (max-width: 320px) {
  /* line 594, theme.scss */
  body .container #header nav {
    border-top: none;
    border-bottom: none;
    padding: 0;
    font-size: smaller;
  }
  /* line 622, theme.scss */
  body .container #header nav ul li {
    background: #eeeeee;
    padding: 0.3125em;
    margin-right: 0;
  }
  /* line 627, theme.scss */
  body .container #header nav ul li:after {
    content: '\2606';
    margin-left: 0.3125em;
    color: #4a4742;
  }
  /* line 633, theme.scss */
  body .container #header nav ul li.all-products-link {
    float: left;
  }
  /* line 636, theme.scss */
  body .container #header nav ul li.all-products-link:after {
    content: '';
  }
}
/* line 655, theme.scss */
body .container .home .image-navigation {
  display: block;
  top: 400px;
}
/* line 659, theme.scss */
body .container .home .image-navigation.left {
  margin-left: -20px;
}
/* line 662, theme.scss */
body .container .home .image-navigation.right {
  margin-left: 680px;
}
/* line 244, theme.scss */
body .container #hot #slider #large-image img {
  width: 99.8%;
  padding: 0.1%;
  border: 1px solid #cccccc;
  background: white url(ajax-loader.gif) no-repeat 50% 50%;
  background: url(ajax-loader.gif) no-repeat 50% 50%;
}
/* line 250, theme.scss */
body .container #hot #slider #large-image-title {
  background: #111111;
  color: #f1f1f1;
  height: 5.3em;
  position: relative;
  top: -0.3125em;
}
/* line 257, theme.scss */
body .container #hot #slider #large-image-title #text {
  background: #f25f18;
  color: #f1f1f1;
  text-align: center;
  width: 20%;
  float: left;
}
/* line 265, theme.scss */
body .container #hot #slider #large-image-title #text h1 {
  padding: 0;
}
@media only screen and (max-width: 320px) {
  /* line 257, theme.scss */
  body .container #hot #slider #large-image-title #text {
    display: none;
  }
}
/* line 274, theme.scss */
body .container #hot #slider #large-image-title #info {
  width: 80%;
  float: right;
}
@media only screen and (max-width: 320px) {
  /* line 274, theme.scss */
  body .container #hot #slider #large-image-title #info {
    width: 100%;
    float: left;
  }
}
/* line 283, theme.scss */
body .container #hot #slider #large-image-title #info .arrow-right {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 2.6em solid transparent;
  border-right: 2.6em solid transparent;
  border-bottom: 2.6em solid transparent;
  border-left: 2.6em solid #f25f18;
  margin-left: -1px;
}
@media only screen and (max-width: 320px) {
  /* line 283, theme.scss */
  body .container #hot #slider #large-image-title #info .arrow-right {
    display: none;
  }
}
/* line 299, theme.scss */
body .container #hot #slider #large-image-title #info h3 {
  color: #f25f18;
  position: relative;
  padding: 0;
  top: -3em;
  left: 1.875em;
}
@media only screen and (max-width: 320px) {
  /* line 299, theme.scss */
  body .container #hot #slider #large-image-title #info h3 {
    top: 0;
    left: 0;
    padding: 0.3125em;
  }
}
/* line 313, theme.scss */
body .container #hot #slider #large-image-title #info p {
  color: #f1f1f1;
  font-size: larger;
  position: relative;
  top: -4em;
  left: 2.5em;
}
@media only screen and (max-width: 320px) {
  /* line 313, theme.scss */
  body .container #hot #slider #large-image-title #info p {
    top: 0;
    left: 0;
    padding: 0.3125em;
  }
}
/* line 328, theme.scss */
body .container #hot #slider #large-image-title #info #price {
  color: #f1f1f1;
  position: relative;
  top: -6em;
  float: right;
  margin-right: 1%;
}
@media only screen and (max-width: 320px) {
  /* line 328, theme.scss */
  body .container #hot #slider #large-image-title #info #price {
    top: -3.75em;
    left: 0;
    padding: 0.3125em;
  }
}
/* line 341, theme.scss */
body .container #hot #slider #large-image-title #info #price .normal-price {
  color: #111111;
}
/* line 672, theme.scss */
body .container #hot #thumbs {
  background: white url(stripe.png);
  overflow: hidden;
}
/* line 676, theme.scss */
body .container #hot #thumbs #items {
  overflow-y: scroll;
  position: relative;
  right: -30px;
}
/* line 681, theme.scss */
body .container #hot #thumbs #items .item {
  padding: 0.625em 1.25em;
}
/* line 684, theme.scss */
body .container #hot #thumbs #items .item img {
  width: 98%;
  padding: 1%;
  border: 1px solid #cccccc;
  background: white url(ajax-loader.gif) no-repeat 50% 50%;
  width: 100px;
}
/* line 690, theme.scss */
body .container #hot #thumbs #items .item .tooltip2 {
  position: relative;
  z-index: 1000;
  cursor: pointer;
}
/* line 695, theme.scss */
body .container #hot #thumbs #items .item .tooltip2 .tooltip-text {
  width: 86px;
  height: auto;
  min-height: 86px;
  top: -91px;
  position: absolute;
  background: #8aea4c;
  padding: 0.625em;
  display: none;
}
/* line 708, theme.scss */
body .container #hot #thumbs #items .item .tooltip2:hover {
  z-index: 1001;
}
/* line 711, theme.scss */
body .container #hot #thumbs #items .item .tooltip2:hover .tooltip-text {
  display: block;
  left: 0;
}
/* line 721, theme.scss */
body .container #hot #more {
  background: url(arrow-black-bottom-right.png) no-repeat 15em -4em;
  height: 10em;
  width: 40em;
  float: right;
}
/* line 727, theme.scss */
body .container #hot #more h4 {
  font-family: 'Nothing You Could Do', cursive;
  margin-top: 2em;
  cursor: pointer;
}
/* line 735, theme.scss */
body .container #hot #noutati .item {
  font-size: smaller;
}
/* line 244, theme.scss */
body .container #hot #noutati .item #large-image img {
  width: 99.8%;
  padding: 0.1%;
  border: 1px solid #cccccc;
  background: white url(ajax-loader.gif) no-repeat 50% 50%;
  background: url(ajax-loader.gif) no-repeat 50% 50%;
}
/* line 250, theme.scss */
body .container #hot #noutati .item #large-image-title {
  background: #111111;
  color: #f1f1f1;
  height: 5.3em;
  position: relative;
  top: -0.3125em;
}
/* line 257, theme.scss */
body .container #hot #noutati .item #large-image-title #text {
  background: #f25f18;
  color: #f1f1f1;
  text-align: center;
  width: 20%;
  float: left;
}
/* line 265, theme.scss */
body .container #hot #noutati .item #large-image-title #text h1 {
  padding: 0;
}
@media only screen and (max-width: 320px) {
  /* line 257, theme.scss */
  body .container #hot #noutati .item #large-image-title #text {
    display: none;
  }
}
/* line 274, theme.scss */
body .container #hot #noutati .item #large-image-title #info {
  width: 80%;
  float: right;
}
@media only screen and (max-width: 320px) {
  /* line 274, theme.scss */
  body .container #hot #noutati .item #large-image-title #info {
    width: 100%;
    float: left;
  }
}
/* line 283, theme.scss */
body .container #hot #noutati .item #large-image-title #info .arrow-right {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 2.6em solid transparent;
  border-right: 2.6em solid transparent;
  border-bottom: 2.6em solid transparent;
  border-left: 2.6em solid #f25f18;
  margin-left: -1px;
}
@media only screen and (max-width: 320px) {
  /* line 283, theme.scss */
  body .container #hot #noutati .item #large-image-title #info .arrow-right {
    display: none;
  }
}
/* line 299, theme.scss */
body .container #hot #noutati .item #large-image-title #info h3 {
  color: #f25f18;
  position: relative;
  padding: 0;
  top: -3em;
  left: 1.875em;
}
@media only screen and (max-width: 320px) {
  /* line 299, theme.scss */
  body .container #hot #noutati .item #large-image-title #info h3 {
    top: 0;
    left: 0;
    padding: 0.3125em;
  }
}
/* line 313, theme.scss */
body .container #hot #noutati .item #large-image-title #info p {
  color: #f1f1f1;
  font-size: larger;
  position: relative;
  top: -4em;
  left: 2.5em;
}
@media only screen and (max-width: 320px) {
  /* line 313, theme.scss */
  body .container #hot #noutati .item #large-image-title #info p {
    top: 0;
    left: 0;
    padding: 0.3125em;
  }
}
/* line 328, theme.scss */
body .container #hot #noutati .item #large-image-title #info #price {
  color: #f1f1f1;
  position: relative;
  top: -6em;
  float: right;
  margin-right: 1%;
}
@media only screen and (max-width: 320px) {
  /* line 328, theme.scss */
  body .container #hot #noutati .item #large-image-title #info #price {
    top: -3.75em;
    left: 0;
    padding: 0.3125em;
  }
}
/* line 341, theme.scss */
body .container #hot #noutati .item #large-image-title #info #price .normal-price {
  color: #111111;
}
/* line 739, theme.scss */
body .container #hot #noutati .item #large-image-title {
  height: 5.2em;
}
/* line 752, theme.scss */
body .container #bestsellers #title h2 {
  background: #111111;
  color: #f25f18;
  text-transform: uppercase;
  font-weight: bold;
  word-wrap: break-word;
  letter-spacing: 2em;
  padding: 0.625em;
}
/* line 766, theme.scss */
body .container #bestsellers #body #filters {
  width: 100%;
  float: left;
  margin-bottom: 3.75em;
  padding-bottom: 1.25em;
  border-bottom: 1px solid;
}
/* line 773, theme.scss */
body .container #bestsellers #body #filters div {
  background: #111111;
}
/* line 776, theme.scss */
body .container #bestsellers #body #filters div h4 {
  cursor: pointer;
  padding: 0.3125em 0;
  color: #aaaaaa;
  margin: 0.625em 0;
  text-align: center;
}
/* line 784, theme.scss */
body .container #bestsellers #body #filters div h4.active, body .container #bestsellers #body #filters div h4:hover {
  color: white;
}
/* line 787, theme.scss */
body .container #bestsellers #body #filters div h4.active:before {
  content: '\2713';
  margin-right: 0.625em;
}
/* line 796, theme.scss */
body .container #bestsellers #body #items .item {
  background: white url(stripe.png);
  min-height: 37.5em;
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 796, theme.scss */
  body .container #bestsellers #body #items .item {
    min-height: 42.5em;
  }
}
/* line 188, theme.scss */
body .container #bestsellers #body #items .item img {
  width: 98%;
  padding: 1%;
  border: 1px solid #cccccc;
  background: white url(ajax-loader.gif) no-repeat 50% 50%;
}
/* line 192, theme.scss */
body .container #bestsellers #body #items .item #text {
  margin: 0 1.25em;
}
/* line 195, theme.scss */
body .container #bestsellers #body #items .item #text h3, body .container #bestsellers #body #items .item #text p {
  background: white;
  padding: 0.625em;
  min-height: 2.5em;
}
/* line 201, theme.scss */
body .container #bestsellers #body #items .item #text h3 {
  font-weight: bold;
  margin: 1.25em 0;
}
/* line 205, theme.scss */
body .container #bestsellers #body #items .item #text p {
  padding: 0.625em;
}
/* line 210, theme.scss */
body .container #bestsellers #body #items .item #price {
  position: relative;
  top: 3.75em;
  width: 50%;
  float: left;
  margin-left: 1.25em;
  font-size: larger;
}
/* line 219, theme.scss */
body .container #bestsellers #body #items .item #category {
  position: relative;
  top: 4.5em;
  width: 30%;
  float: right;
  text-align: right;
  margin-right: 1.25em;
}
/* line 227, theme.scss */
body .container #bestsellers #body #items .item #category a {
  background: #cccccc;
  padding: 0.3125em;
  color: white;
}
/* line 232, theme.scss */
body .container #bestsellers #body #items .item #category a:hover {
  background: gray;
}
/* line 809, theme.scss */
body .container #search #title {
  background: url(arrow-black-top-right.png) no-repeat 1em 5em;
  height: 20em;
}
/* line 813, theme.scss */
body .container #search #title h3 {
  font-family: 'Nothing You Could Do', cursive;
}
/* line 824, theme.scss */
body .container #promo {
  margin: 5% 0;
}
/* line 827, theme.scss */
body .container #promo #title {
  color: white;
}
/* line 830, theme.scss */
body .container #promo #title #percent {
  width: 70%;
  float: left;
  background: #f25f18;
  text-align: center;
  padding: 0.3125em 0;
}
/* line 837, theme.scss */
body .container #promo #title #percent h3 {
  padding: 0.3125em 0;
  font-size: 5em;
}
/* line 842, theme.scss */
body .container #promo #title #arrow {
  width: 30%;
  float: right;
}
/* line 846, theme.scss */
body .container #promo #title #arrow .arrow-right {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 1.25em solid transparent;
  border-right: 1.25em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 1.25em solid #f25f18;
  position: relative;
  top: 3.5em;
  margin-left: -1px;
}
/* line 863, theme.scss */
body .container #promo #body #items .item {
  height: 36em;
  border-bottom: 3px solid #f1f1f1;
}
/* line 134, theme.scss */
body .container #promo #body #items .item img {
  width: 98%;
  padding: 1%;
  border: 1px solid #cccccc;
  background: white url(ajax-loader.gif) no-repeat 50% 50%;
  width: 150px;
  margin-left: 1.25em;
}
/* line 140, theme.scss */
body .container #promo #body #items .item #text {
  margin: 0 1.25em;
}
/* line 143, theme.scss */
body .container #promo #body #items .item #text h3, body .container #promo #body #items .item #text p {
  background: #f1f1f1;
  padding: 0.625em;
}
/* line 148, theme.scss */
body .container #promo #body #items .item #text h3 {
  font-weight: bold;
  margin: 0.625em 0;
  min-height: 3.75em;
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 148, theme.scss */
  body .container #promo #body #items .item #text h3 {
    min-height: 2.5em;
  }
}
/* line 156, theme.scss */
body .container #promo #body #items .item #text p {
  padding: 0.625em;
}
/* line 161, theme.scss */
body .container #promo #body #items .item #price {
  position: relative;
  top: 5em;
  float: left;
  margin-left: 1.25em;
  font-size: larger;
}
/* line 169, theme.scss */
body .container #promo #body #items .item:hover {
  border-bottom: 3px solid #f25f18;
  background: white url(stripe.png);
}
/* line 174, theme.scss */
body .container #promo #body #items .item:hover #text h3, body .container #promo #body #items .item:hover #text p {
  background: white;
}
/* line 876, theme.scss */
body .container #top-new-categories ul {
  text-align: center;
}
/* line 361, theme.scss */
body .container #top-new-categories ul li {
  height: 14em;
  border-radius: 8em;
  padding-top: 2.5em;
  background: #4d8fce;
  box-shadow: 2px 1px 1px #aaaaaa;
  border: 1px solid #4d8fce;
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 361, theme.scss */
  body .container #top-new-categories ul li {
    height: 16em;
    border-radius: 16em;
    padding-top: 5em;
  }
}
/* line 377, theme.scss */
body .container #top-new-categories ul li:hover {
  box-shadow: 2px 1px 1px #111111;
  border: 1px solid #111111;
}
/* line 883, theme.scss */
body .container #footer-info #contact ul {
  list-style: none;
  margin: 0;
}
/* line 34, theme.scss */
body .container #footer-info #company h3 {
  cursor: pointer;
  padding: 0.625em 0.3125em;
  background: #eeeeee;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1px;
}
/* line 41, theme.scss */
body .container #footer-info #company div {
  display: none;
  background: white;
  padding: 1.25em;
  margin-bottom: 2.5em;
}
/* line 892, theme.scss */
body .container #footer-info #company h3 {
  background: transparent;
  border: none;
  padding: 1.25em 0;
}
/* line 34, theme.scss */
body .container #footer-info #pages h3 {
  cursor: pointer;
  padding: 0.625em 0.3125em;
  background: #eeeeee;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1px;
}
/* line 41, theme.scss */
body .container #footer-info #pages div {
  display: none;
  background: white;
  padding: 1.25em;
  margin-bottom: 2.5em;
}
/* line 902, theme.scss */
body .container #footer-info #pages p {
  margin-top: 1.25em;
}
/* line 908, theme.scss */
body .container #footer {
  background: #eeeeee;
  border-bottom: 1px solid #cccccc;
  padding: 0.625em;
}
/* line 916, theme.scss */
body .container #footer-subscribe #newsletter input[type="email"] {
  width: 100%;
}

/* line 2, header.scss */
body .container {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 320px) {
  /* line 2, header.scss */
  body .container {
    width: 98%;
  }
}
/* line 10, header.scss */
body .container #header {
  width: 100%;
  float: left;
}
/* line 13, header.scss */
body .container #header #cart {
  width: 20%;
  margin-left: 5%;
  float: right;
}
/* line 18, header.scss */
body .container #header #cart h3 {
  display: none;
}
/* line 24, header.scss */
body .container #header hgroup {
  width: 75%;
  float: left;
}
/* line 28, header.scss */
body .container #header hgroup #logo {
  width: 20%;
  float: left;
}
@media only screen and (max-width: 320px) {
  /* line 28, header.scss */
  body .container #header hgroup #logo {
    width: 100%;
  }
  /* line 35, header.scss */
  body .container #header hgroup #logo h1 {
    padding: 0.625em 0 0;
  }
}
/* line 40, header.scss */
body .container #header hgroup #strapline {
  width: 40%;
  float: left;
}
@media only screen and (max-width: 320px) {
  /* line 40, header.scss */
  body .container #header hgroup #strapline {
    width: 100%;
  }
  /* line 47, header.scss */
  body .container #header hgroup #strapline h2 {
    padding: 0;
  }
}
/* line 52, header.scss */
body .container #header hgroup #page-name {
  width: 40%;
  float: left;
}
@media only screen and (max-width: 320px) {
  /* line 52, header.scss */
  body .container #header hgroup #page-name {
    width: 0;
  }
}
/* line 62, header.scss */
body .container #header nav {
  width: 75%;
  float: left;
}
@media only screen and (max-width: 320px) {
  /* line 62, header.scss */
  body .container #header nav {
    width: 100%;
  }
}
/* line 70, header.scss */
body .container #header nav ul {
  display: block;
  margin: 0;
}
/* line 60, mixins.scss */
body .container #header nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
  float: left;
}

/* line 1, startpage.scss */
body.home {
  /* Navigation arrows
  ---------------------------------------------------
  */
}
/* line 8, startpage.scss */
body.home .image-navigation {
  position: absolute;
  font-size: 4em;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #cccccc;
  cursor: pointer;
  top: 8em;
}
@media only screen and (max-width: 320px) {
  /* line 8, startpage.scss */
  body.home .image-navigation {
    display: none;
  }
}
/* line 25, startpage.scss */
body.home .image-navigation.left {
  background: white url(left-arrow-black.png) no-repeat 50%;
  margin-left: 2.5%;
}
/* line 29, startpage.scss */
body.home .image-navigation.right {
  background: white url(right-arrow-black.png) no-repeat 50%;
  margin-left: 70%;
}
/* line 38, startpage.scss */
body.home .container #hot {
  width: 100%;
  float: left;
}
/* line 41, startpage.scss */
body.home .container #hot #slider {
  width: 75%;
  margin: 0 5% 0 0;
  float: left;
}
@media only screen and (max-width: 320px) {
  /* line 41, startpage.scss */
  body.home .container #hot #slider {
    display: none;
  }
}
/* line 49, startpage.scss */
body.home .container #hot #thumbs {
  width: 20%;
  margin: 0 0 0 0;
  float: left;
}
@media only screen and (max-width: 320px) {
  /* line 49, startpage.scss */
  body.home .container #hot #thumbs {
    display: none;
  }
}
/* line 56, startpage.scss */
body.home .container #hot #thumbs #items {
  height: 45em;
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 56, startpage.scss */
  body.home .container #hot #thumbs #items {
    height: 55em;
  }
}
@media only screen and (max-width: 320px) {
  /* line 64, startpage.scss */
  body.home .container #hot #more {
    display: none;
  }
}
/* line 71, startpage.scss */
body.home .container #hot #noutati {
  width: 100%;
  float: left;
  display: none;
}
@media only screen and (max-width: 320px) {
  /* line 71, startpage.scss */
  body.home .container #hot #noutati {
    display: block;
  }
}
/* line 80, startpage.scss */
body.home .container #hot #noutati #items .item {
  width: 45%;
  margin: 0 10% 0 0;
  float: left;
  margin-bottom: 5%;
}
@media only screen and (max-width: 320px) {
  /* line 80, startpage.scss */
  body.home .container #hot #noutati #items .item {
    width: 100%;
    margin: 0 0 5% 0;
  }
}
/* line 90, startpage.scss */
body.home .container #hot #noutati #items .item.c2, body.home .container #hot #noutati #items .item.c4, body.home .container #hot #noutati #items .item.c6, body.home .container #hot #noutati #items .item.c8, body.home .container #hot #noutati #items .item.c10, body.home .container #hot #noutati #items .item.c12, body.home .container #hot #noutati #items .item.c14, body.home .container #hot #noutati #items .item.c16, body.home .container #hot #noutati #items .item.c18, body.home .container #hot #noutati #items .item.c20 {
  margin-right: 0;
}
/* line 97, startpage.scss */
body.home .container #subscribe-newsletter {
  width: 100%;
  float: left;
  background: #4D8FCE;
  margin: 5% 0;
}
/* line 54, theme.scss */
body.home .container #subscribe-newsletter .arrow-right {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 6em solid transparent;
  border-right: 6em solid transparent;
  border-bottom: 6em solid transparent;
  border-left: 6em solid #111111;
  float: left;
}
/* line 67, theme.scss */
body.home .container #subscribe-newsletter h4 {
  padding: 0.625em 0;
}
/* line 71, theme.scss */
body.home .container #subscribe-newsletter #text {
  width: 58%;
  margin-right: 5%;
  float: left;
  position: relative;
}
/* line 78, theme.scss */
body.home .container #subscribe-newsletter #text form {
  padding: 0;
}
/* line 81, theme.scss */
body.home .container #subscribe-newsletter #text form input.text {
  width: 100%;
}
/* line 86, theme.scss */
body.home .container #subscribe-newsletter #text #whatis {
  position: relative;
  top: -1.5em;
  float: right;
  text-decoration: underline;
}
/* line 93, theme.scss */
body.home .container #subscribe-newsletter #text #whatis .tooltip-text {
  text-decoration: none;
}
/* line 97, theme.scss */
body.home .container #subscribe-newsletter #text #whatis:hover .tooltip-text {
  left: 5em;
}
/* line 102, theme.scss */
body.home .container #subscribe-newsletter #facebook-connect {
  float: left;
  width: 25%;
}
/* line 107, theme.scss */
body.home .container #subscribe-newsletter #facebook-connect #auth-loggedin {
  padding: 1.25em;
  font-size: small;
}
/* line 102, startpage.scss */
body.home .container #subscribe-newsletter #text {
  margin-left: -4.5em;
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 102, startpage.scss */
  body.home .container #subscribe-newsletter #text {
    margin-left: -2.8em;
  }
}
/* line 108, startpage.scss */
body.home .container #subscribe-newsletter.bigger-margin-bottom {
  margin-bottom: 10em;
}
/* line 113, startpage.scss */
body.home .container #bestsellers {
  width: 100%;
  float: left;
  margin: 5% 0;
}
/* line 117, startpage.scss */
body.home .container #bestsellers #title {
  /* @include col($minor2, 0, 0); */
  width: 7.5%;
  margin: 0 2.5% 0 0;
  float: left;
}
/* line 122, startpage.scss */
body.home .container #bestsellers #body {
  width: 90%;
  margin: 0 0 0 0;
  float: left;
}
/* line 126, startpage.scss */
body.home .container #bestsellers #body #filters div {
  width: 30%;
  margin: 0 5% 0 0;
  float: left;
}
/* line 129, startpage.scss */
body.home .container #bestsellers #body #filters div#last-three-months {
  margin-right: 0;
}
/* line 135, startpage.scss */
body.home .container #bestsellers #body #products #last-week, body.home .container #bestsellers #body #products #last-month, body.home .container #bestsellers #body #products #last-three-months {
  display: none;
}
/* line 138, startpage.scss */
body.home .container #bestsellers #body #products #last-week.active, body.home .container #bestsellers #body #products #last-month.active, body.home .container #bestsellers #body #products #last-three-months.active {
  display: block;
}
/* line 143, startpage.scss */
body.home .container #bestsellers #body #products #items .item {
  width: 30%;
  margin: 0 5% 0 0;
  float: left;
  margin-bottom: 5em;
}
/* line 147, startpage.scss */
body.home .container #bestsellers #body #products #items .item.c3, body.home .container #bestsellers #body #products #items .item.c6, body.home .container #bestsellers #body #products #items .item.c9 {
  margin-right: 0;
}
/* line 153, startpage.scss */
body.home .container #bestsellers #body #more {
  float: right;
}
/* line 159, startpage.scss */
body.home .container #search {
  width: 100%;
  float: left;
  margin: 5% 0;
}
/* line 163, startpage.scss */
body.home .container #search #title {
  width: 10%;
  margin: 0 0 0 0;
  float: left;
}
/* line 167, startpage.scss */
body.home .container #search #body {
  width: 90%;
  margin: 0 0 0 0;
  float: left;
}
/* line 172, startpage.scss */
body.home .container #promo {
  width: 100%;
  float: left;
  margin: 5% 0;
}
/* line 176, startpage.scss */
body.home .container #promo #title {
  width: 10%;
  margin: 0 0 0 0;
  float: left;
}
/* line 181, startpage.scss */
body.home .container #promo #body {
  width: 90%;
  margin: 0 0 0 0;
  float: left;
}
/* line 185, startpage.scss */
body.home .container #promo #body #items .item {
  width: 22%;
  margin: 0 4% 0 0;
  float: left;
  margin-bottom: 5em;
}
/* line 189, startpage.scss */
body.home .container #promo #body #items .item.c4, body.home .container #promo #body #items .item.c8, body.home .container #promo #body #items .item.c12 {
  margin-right: 0;
}
/* line 194, startpage.scss */
body.home .container #promo #body #more {
  float: right;
}

/* line 4, footer.scss */
body .container #facebook-like-box {
  width: 100%;
  float: left;
  margin: 5% 0;
}
/* line 8, footer.scss */
body .container #facebook-like-box #campaign-message {
  width: 45%;
  margin: 0 0 0 5%;
  float: left;
  float: right;
}
/* line 13, footer.scss */
body .container #facebook-like-box #body {
  width: 50%;
  margin: 0 0 0 0;
  float: left;
  float: left;
}
/* line 19, footer.scss */
body .container #top-new-categories {
  width: 100%;
  float: left;
  margin: 5% 0;
}
/* line 23, footer.scss */
body .container #top-new-categories ul {
  display: block;
  margin: 0;
}
/* line 60, mixins.scss */
body .container #top-new-categories ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
  float: left;
}
/* line 26, footer.scss */
body .container #top-new-categories ul li {
  width: 22%;
  margin-right: 3%;
}
/* line 30, footer.scss */
body .container #top-new-categories ul li.last {
  margin-right: 0;
}
/* line 36, footer.scss */
body .container #footer-info {
  width: 100%;
  float: left;
  margin: 5% 0;
}
/* line 40, footer.scss */
body .container #footer-info #col-1 {
  width: 45%;
  margin: 0 10% 0 0;
  float: left;
}
/* line 44, footer.scss */
body .container #footer-info #col-2 {
  width: 45%;
  margin: 0 0 0 0;
  float: left;
}
/* line 49, footer.scss */
body .container #footer {
  width: 100%;
  float: left;
  margin: 5% 0 0;
}
/* line 54, footer.scss */
body .container #footer-subscribe {
  width: 100%;
  float: left;
  margin: 1.25em 0 5%;
}
/* line 58, footer.scss */
body .container #footer-subscribe #newsletter {
  width: 45%;
  margin: 0 10% 0 0;
  float: left;
}
/* line 62, footer.scss */
body .container #footer-subscribe #social {
  width: 45%;
  margin: 0 0 0 0;
  float: left;
}
/* line 65, footer.scss */
body .container #footer-subscribe #social #partners {
  display: block;
}
/* line 69, footer.scss */
body .container #footer-subscribe #social #fb-like {
  display: block;
}

/* line 3, search.scss */
#search-enhanced form div {
  width: 30%;
  margin: 0 5% 0 0;
  float: left;
}
/* line 6, search.scss */
#search-enhanced form div.last {
  margin-right: 0;
}
/* line 9, search.scss */
#search-enhanced form #categories, #search-enhanced form #searchbox {
  width: 100%;
  display: none;
}
/* line 15, search.scss */
#search-enhanced form #submit #advanced-search {
  cursor: pointer;
}
/* line 20, search.scss */
#search-enhanced form #searchbox {
  width: 100%;
  float: left;
  padding: 2.5em 1.25em;
}
/* line 24, search.scss */
#search-enhanced form #searchbox input[type="text"] {
  width: 62%;
}

/* line 6, product-thumb.scss */
#items .item img {
  background: url(ajax-loader.gif) no-repeat 50% 50%;
}

/* line 33, product-thumb.scss */
#items.thumb .item img {
  width: 150px;
  height: auto;
}
