#search-enhanced {
	form {
		div {
			@include col(30%, 0, 5%);
		}
		div.last {
			margin-right: 0;
		}
		#categories, #searchbox {
			width: 100%;
			@include hidden;
		}
		
		#submit {
			#advanced-search {
				cursor: pointer;
			}
		}
		
		#searchbox {
			@include block;
			padding: $pad*2 $pad;
			
			input[type="text"] {
				width: 62%;
			}
		}
	}
	
}