body.single {
	.container {
	  
	  #header {
	    #menu {
	      #info {
	        font-style: italic;
	      }
	      #info:after {
	        color: $green;
	        font-style: normal;
	      }
	    }
	  }
	
		article {
			@include block;
			
			#left-column {
				@include col(47.5%, 0, 5%);
				margin-top: $pad;
				margin-bottom: $pad*2;
				
				#large-image {
				  cursor: pointer;
				  
				  img {
				    @include image-bordered(0%);
				  }
				}
				#large-image.large {
				  @include col(74%, 0, 2.5%);
				  float: left;
				}
				
				#thumbs { 
				  @include col(23%, 0, 0);
				  display: none;
			    
				  #thumb {
				   @include col(30%, 0, 5%);
				   margin-bottom: $margin;
				    
				    cursor: pointer;
				  
				    img {
				      @include image-bordered(2%);
				    }  
				  }
				  #thumb.c3, #thumb.c6, #thumb.c9, #thumb.c12, #thumb.c15, #thumb.c18, #thumb.c21 {
				    margin-right: 0;
				  }
				}
				
				#description {
			    h3 {
			      padding: $pad/4 0;
			      margin: $pad/4 0;
			      border-bottom: 1px solid $very-light-gray;
			      
			      cursor: pointer;
			    }
			    h3:after {
			      @include arrow-to-reveal-content;
			    }
			    
			    .pane {
			      padding: $pad;
			      background: $background;
			      color: $dark-gray;
			      
			      line-height: 1.75;
			      max-width: 600px;
			      
			      br {
			        margin-top: $pad;
			        display: block;
			      }
			      
			      ul {
			        margin: 0;
			        list-style: none;
			        
			        
			        li {
			          margin-bottom: $pad/2;
			          padding-bottom: $pad/4;
			          border-bottom: 1px solid $very-light-gray;
			        }
			      }
			    }
			    
			    #facebook-like {
			      margin: $pad 0;
			    }
			  }
			  #description.large {
			    @include col(47.5%, 0, 5%);
			    margin-top: $pad/2;
			  }
			  
			  
			  #shopping-for-large-image {
			    @include col(47.5%, 0, 0);
			    display: none;
			    
			    @include add-to-cart;
			    
			    #add-to-cart {
			      background: url(stripe.png);
			      padding: $pad/2;
			      
			      .delivery {
			        margin-top: $pad;
			        
			        span {
			          background: $background;
			          padding: $pad/8;
			        }
			      }
			      
			      .oldprice.on-sale {
			        background: $background;
			      }
			    }
			    
			    #share {
			      margin-top: 10em;
			    }
			  }	
			}
			
			
			#right-column { 
			  @include col(47.5%, 0, 0);
			  @include add-to-cart;
			  
			  
			  #share {
			    margin-top: $pad*2;
			  }
			  
			  
			}
			
			
		}
		
		
	
		section {
			@include block;
			
			h2 {
			  border-bottom: 1px solid $very-light-gray;
			  padding-bottom: $pad/4;
			  margin-bottom: $pad;
			}
			
			#product {
        @include col(23%, 0, 2.5%);
        margin-bottom: $margin;
        
        @include product-thumb;
       
        .normal-price {
          background: $background;
        }
        
      }
      #product.c4, #product.c8, #product.c12, #product.c16, #product.c20, #product.c24, #product.c28 {
        margin-right: 0;
      }
    }
		
		
		
	
	}
}
