body.single {
	.container {
	  
	  #header {
	    #menu {
	      #info:after {
	        color: $green;
	        font-style: normal;
	      }
	    }
	  }
	
		article {
			@include block;
			margin-bottom: $pad;
			
			#article-title, #shopping-cart, #images, #description, #share {
			  @include col(2, 0);
			  
			  @include mobile-only {
			    @include block;
			  }
			}
			
			#article-title, #shopping-cart, #description, #share {
			  float: right;
			  margin-right: 0;
			}
			
			#article-title {
			  h1 {
			    padding: 0;
			  }
			}
			
			#excerpt, #date, #url {
			  display: none;
			}
		
		
			#shopping-cart {
		    @include add-to-cart;
		  }
		  
		  			
			
			#images {
			  cursor: pointer;
			  
			  #large-image {
			    img {
			      @include image-bordered(0%);
			    }
			  }
			  
			  #thumbs { 
			    margin-top: $pad;
			    
			    #thumb {
			     @include col(5, 10);
			     margin-bottom: $pad;
			      
			      cursor: pointer;
			    
			      img {
			        @include image-bordered(2%);
			      }  
			    }
			  }
			}
				
			
			#description {
			  margin-top: $pad;
			  
			  ul#tabs {
			    @include tabs;
			  }
			 
		    div {
		      @include product-description;
		    }
		  }
		  
		  #share {
		    margin-left: 52.5%;
		    
		    ul {
		      @include list-inline;
		      margin-left: $pad;
		    }
		  }
		  
			
		}
		
		
		#phone-orders {
		  @include block;
		  width: 50%;
		  
		  position: relative;
		  left: 52.5%;
		  top: -$pad*3;
		}
		
		
	
		section {
			@include block;
			
			h2 {
			  border-bottom: 1px solid $very-light-gray;
			  padding-bottom: $pad/4;
			  margin-bottom: $pad;
			}
			
			#product {
        @include col(4, 4);
        margin-bottom: $pad;
        
        @include product-thumb;
               
        .normal-price, .old-price {
          background: $background;
        }
        
        
        @include mobile-only {
          @include block;
          margin-right: 0;
        }
      }
    }
		
		
		
	
	}
}
