body.single {
	.container {
		article {
			@include block;
			
			#left-column {
				@include col(47.5%, 0, 5%);
				margin-top: $pad;
				margin-bottom: $pad*2;
				
				#large-image {
				  img {
				    @include image-bordered(2%);
				  }
				}
				
				#thumbs { 
				 display: none;
			    
				  #thumb {
				    width: 3.125em; /* 50px */
				    margin: 0 2% $margin 0;
				    float: left;
				    
				    cursor: pointer;
				  
				    img {
				      @include image-bordered(2%);
				    }  
				  }
				  
				}
				
				#description {
			    h3 {
			      padding: $pad/4 0;
			      margin: $pad/4 0;
			      border-bottom: 1px solid $very-light-gray;
			      
			      cursor: pointer;
			    }
			    h3:after {
			      @include arrow-to-reveal-content;
			    }
			    
			    .pane {
			      padding: $pad;
			      background: $background;
			      color: $dark-gray;
			      
			      line-height: 1.75;
			      max-width: 600px;
			      
			      br {
			        margin-top: $pad;
			        display: block;
			      }
			      
			      ul {
			        margin: 0;
			        list-style: none;
			        
			        
			        li {
			          margin-bottom: $pad/2;
			          padding-bottom: $pad/4;
			          border-bottom: 1px solid $very-light-gray;
			        }
			      }
			    }
			    
			    #facebook-like {
			      margin: $pad 0;
			    }
			  }
				
			}
			
			
			#right-column { 
			  @include col(47.5%, 0, 0);
			  
			  #add-to-cart {
			  
			    .imagecol {
			      display: none;
			    }
			    
			    .delivery {
			      @include block;
			      color: $gray;
			    }
			    
			    .wpsc_variation_forms {
			      @include block;
			      margin: $pad 0 0;
			      
			      .select {
			        select {
			          border-top: 1px solid $gray;
			          border-bottom: 1px solid $gray;
			          padding: $pad/4;
			          
			          width: 92%;
			        }
			      }
			      .select:after {
			        padding: $pad/2 + $pad/4;
			        margin: -$pad/2 $pad*2 0 -2.1em;
			      }
			      
			    }
			    
			    .wpsc_product_price {
			      .price {
			        margin-right: $pad;
			        padding: $pad/2;
			      }
			      
			      .oldprice {
			        background: transparent;
			      }
			      .normal-price.on-sale {
			        background: $sale;
			      }
			      .oldprice.on-sale {
			        border: 1px solid;
			      }
			    }
			    
			    .add-to-cart-button {
			      input[type="submit"] {
			        background: $green;
			        color: $color;
			        
			        font-family: 'Coda', sans-serif;
			        font-weight: 1em;
			      }
			    }
			    
			    .checkout {
			      display: none;
			    }
			    
			    .wpsc_loading_animation {
			      visibility: hidden;
			    }
			    
			    
			    
			    #product-discontinued {
			      h3 {
			        padding-top: 0;
			      }
			    }
			  }
			  
			  #share {
			    margin-top: $pad*2;
			  }
			  
			  
			}
			
			
			#shopping {
			  @include block;
			  margin: $pad 0;
			  
			  #add-to-cart, #shopping-incentives, #contact-info {
			    @include col(30%, 0, 5%);
			  }
			  
			  #add-to-cart {
			     @include add-to-cart;
			  }
			  
			  #contact-info {
			    margin-right: 0;
			  }
			 
			}
		}
		
		#subscribe-to-newsletter {
		  @include block;
		  margin: $pad 0;
		  
		  
		}
	
	
		section {
			@include block;
			
			h2 {
			  border-bottom: 1px solid;
			  padding-bottom: $pad/4;
			  margin-bottom: $pad;
			}
			
			#product {
        @include col(23%, 0, 2.5%);
        margin-bottom: $margin;
        
        @include product-thumb;
       
        .normal-price {
          background: $background;
        }
        
      }
      #product.c4, #product.c8, #product.c12, #product.c16, #product.c20, #product.c24, #product.c28 {
        margin-right: 0;
      }
    }
		
		
		
	
	}
}
