body.home {
	.container {
	
	  #startpage-main-menu {
	    display: none;
	  }
	
	  section, #footer {
      @include col($major - $margin, $minor + $margin, 0);
      
      section {
        @include block;
        margin: 0;
        
        #title {
          h2 {
            padding: 0 0 $pad;
            font-size: 1.5em;
          }
        }
      }
    }
  
 
	  section {
	    
	    
	    #body {
	      #products {
	        #product {
	          @include col(23%, 0, 2.5%); 
	          height: 30em;
	          
	          margin-bottom: $margin;
	        }
	        #product.c4, #product.c8, #product.c12 {
	          margin-right: 0;
	        }
	      }
	    }
	  }
	  
	  
	  
	}
}
