body.home {
	.container {		
	
	  section {
	    @include block;
	    
	    #body {
	      #products {
	        #product {
	          @include col(23%, 0, 2.5%); 
	          height: 30em;
	          
	          margin-bottom: $margin;
	        }
	        #product.c4, #product.c8, #product.c12 {
	          margin-right: 0;
	        }
	      }
	    }
	  }
	}
}
