/* Color Scheme
*/

$color: #222;
$background: #fff;
$sale: #F25F18;
$cart: #8AEA4C;

$orange: #F25F18;
$blue: #4D8FCE;
$green: #8AEA4C;
$red: #F98751;
$error: #F98751;
$yellow: #F9B451;
$notice: #F9B451;

$gray: #AAA;
$dark-gray: #4A4742;
$light-gray: #ccc;
$light-gray-2: #eee;
$very-light-gray: #f1f1f1;




/* Links
*/

a, a:active, a:visited, a:hover {
  color: $color;
  text-decoration: none;
}



/* Price
---------------------------------------------------
*/

.price, .normal-price {
	border: $light-gray;
	padding: $pad/4;
	@include border-radius(10%, 10%);   
	
	@include respond-to(desktop) {
	  padding: $pad/2;
	} 
}
.price {
	background: $sale;
}
.old-price, .oldprice {
	text-decoration: line-through;
}
.normal-price {
	background: $blue;    
}




/* Mixins
*/


@mixin arrow-to-reveal-content {
	content: '\003E';
	float: right;
	margin-left: $pad/4;
	color: $sale;
	
	@include rotate(90deg, .75);
}


@mixin product-thumb {
  background: $background url(stripe.png);
  height: 26em !important;
  
  img {
		@include image-bordered(1%);
	}
	
	#title, #excerpt {
	  margin: $pad/2 $pad/4;
	  padding: $pad/2 $pad;
	  background: $background;
	  min-height: 4.5em;
	}
	
	#title {
	  h3 {
	    padding: 0;
	    font-size: 1.5em;
	    font-weight: bold;
	  }
	}
	
	#excerpt {
	  display: none;
	  
	  a {
	    color: $dark-gray;
	  }
	}
	
	
	#price, #category {
	  font-size: small;
	}
	
	#price {
	  @include col(50%, $pad, 5%);
	  margin-top: $pad;
	}
	
	#category {
	  min-width: 20%;
	  margin-right: 1.5em; /* Because of the small font size */
	  margin-top: $pad/2;
	  float: right;
	  font-size: small;
	  
	  background: $gray;
	  
	  a {
	    padding: $pad/2;
	    color: $background;
	    text-align: center;
	    display: block;
	  }
	}
}


/* Header, footer, and general settings
*/

body {
  background: $background url(background.png);
  font-family: 'Coda', serif;
  
  .container {
  
    h1, h2, h3, h4 {
      font-family: 'Oswald', sans-serif;
    }
    
    #header {
      h1, h2 {
        padding: $pad/2 0;
      }
      
      #logo {
        margin-right: 2.5%; /* Aligned to the menu item below */
      }
      
      #strapline {
        a {
          color: $sale;
        }
      }
      
      #cart {
        font-size: small;
        color: $gray;
        
        ul {
          li {
            a {
              color: $gray;
            }
            a:hover {
              color: $color;
            }
          }
        }
      }
      
      #menu {
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding: $pad/2 + $pad/4 0 $pad/4;
        
        ul {
          li {
            margin-right: $pad !important;
          }
          li.last {
            padding: 0;
            position: relative;
            top: -$pad/4;
            
                       
            
            input[type="text"] {
              border-bottom: none;
              padding: $pad/2;
              text-align: center;
              
              width: 23em;
            }
            
            input[type="submit"] {
              margin-left: 2.5em;
            }
          }
        }
      }
    }
  
  }
}



/* Startpage
*/

body.home {

  nav.tab {
    @include block;
    margin: 2.5em 0 0;
    
    ul {
      list-style: none;
      
      li {
        @include pointer;
        
        h2 {
          color: $gray;
          font-size: 1.5em;
          font-weight: normal;
          font-style: normal;
          padding: $pad/8;
        }
        h2.active, h2:hover {
          color: $color;
        }
      }
    }
  }
	  
  section {
    #body {
      #products {
        #product {
          @include product-thumb;
          
          position: relative;
          top: -10em;
        }
        #product.c1 {
          margin-left: 23% + 2.5% !important;
        }
        #product.c3, #product.c7 {
          margin-right: 0 !important;
        }
        #product.c4, #product.c6 {
          margin-right: 2.5% !important;
        }
      }
    }
  }
  section#bestsellers.active section #title h2 {
    display: block;
    margin-left: 23% + 2.5% !important;
    
    position: relative;
    top: -5em;
    
    border-bottom: 1px solid;
    padding-bottom: $pad/2;
    margin-bottom: $pad/2;
  }
}



