/* Color Scheme
*/
/* Links
*/
/* line 31, theme.scss */
a, a:active, a:visited, a:hover {
  color: #363636;
  text-decoration: none;
}

/* Price
---------------------------------------------------
*/
/* line 50, theme.scss */
.price {
  color: #f25f18;
  font-weight: bold;
}

/* line 54, theme.scss */
.old-price, .oldprice {
  text-decoration: line-through;
  font-weight: normal;
}

/* Mixins
*/
