/* Colors
---------------------------------------------------
*/

$color: #111;
$background: #fff;
$sale: #F25F18;
$cart: #8AEA4C;

$orange: #F25F18;
$blue: #4D8FCE;
$green: #8AEA4C;
$red: #F98751;
$error: #F98751;
$yellow: F9B451;
$notice: F9B451;

$gray: #AAA;
$dark-gray: #4A4742;
$light-gray: #ccc;
$light-gray-2: #eee;
$very-light-gray: #f1f1f1;




/* Theme mixins
---------------------------------------------------
*/


// Accordion
@mixin accordion {
	h3 {
		cursor: pointer;
		padding: $pad/2 $pad/4;
		background: $light-gray-2;
		border-bottom: 1px $light-gray;
		margin-bottom: 1px;
	}
	div {
		display: none;
	}
}


// Subscribe to newsletter
@mixin subscribe-to-newsletter {
	background: #4D8FCE;
	
	.arrow-right {
		width: 0; 
		height: 0;
		line-height: 0;
		border-top: $pad*4 solid transparent;
		border-right: $pad*4 solid transparent;
		border-bottom: $pad*4 solid transparent;
		border-left: $pad*4 solid $color;
		
		float: left;
	}
	
	
	h4 {
		padding: $pad 0;
	}

	#text {
		width: 58%;
		margin-right: 5%;
		float: left;
		position: relative;
		margin-left: -5%;
		
		form {
			padding: 0;
			
			input.text {
  			width: 100%;
  		}
  	}
  	
		#whatis {
			position: relative;
			top: -1.5em;
			float: right;
			
			font-size: smaller;
			text-decoration: underline;
			
			.tooltip-text {
				text-decoration: none;
			}
		}
		#whatis:hover .tooltip-text {
			left: 5em;
		}
	}

	#facebook-connect {
		float: left;
		width: 25%;
		
		
		#auth-loggedin {
			padding: $pad;
			font-size: small;
		}
	}
}


// A list like used in the header to display cart
@mixin list-cart {
	list-style: none;
	margin: 0;
	
	li {
		margin-bottom: $pad/4;
		padding: $pad/4;
		background: $background;
		border-bottom: 1px solid $light-gray;
	}
}


// Promo 
@mixin promo {
	height: $pad*24;
	border-bottom: 3px solid $very-light-gray;
	
	img {
		@include image-bordered;
		width: $image-thumb-width;
		margin-left: $pad/2;
	}
	
	#text {
		h4, p {
			background: $very-light-gray;
			margin: $pad/2;
			padding: $pad/2;
			min-height: $pad*2;
		}
		
		h4 {
			font-weight: bold;
		}
		p {
			padding: $pad/2;
		}
	}
	
	#price {
		position: relative;
		top: $pad*4;
		float: left;
		margin-left: $pad;
	}
	
	&:hover {
		border-bottom: 3px solid $sale;
		background: $background url(stripe.png);
		
		#text {
			h4, p {
				background: $background;
			}
		}
	}
}

// Bestseller 
@mixin bestseller {
	height: $pad*24;
	background: $background url(stripe.png);
	
	img {
		@include image-bordered;
	}
	
	#text {
		h4, p {
			background: $background;
			margin: $pad/2;
			padding: $pad/2;
			min-height: $pad*2;
		}
		
		h4 {
			font-weight: bold;
		}
		p {
			padding: $pad/2;
		}
	}
	
	#price {
		position: relative;
		top: $pad*3;
		width: 50%;
		float: left;
		margin-left: $pad;
	}
	
	#category {
		position: relative;
		top: $pad*3;
		width: 30%;
		float: right;
		text-align: right;
		margin-right: $pad;
		
		a {
			background: $light-gray;
			padding: $pad/4;
			color: $background;
			
			&:hover {
				background: gray;
			}
		}
	}
	
}


// Hot
@mixin image-hot {
	#large-image {
		img {
			@include image-bordered;
			
			background: url(ajax-loader.gif) no-repeat 50% 50%;
		}
	}
	
	#large-image-title {
		background: $color;
		color: $very-light-gray;
		height: 3.75em;
		
		#text {
			background: $sale;
			color: $very-light-gray;
			text-align: center;
			font-size: 3em;
			
			width: 20%;
			float: left;
		}
		
		#info {
			width: 80%;
			float: right;
			
			.arrow-right {
				width: 0; 
				height: 0;
				line-height: 0;
				border-top: 30px solid transparent;
				border-right: 30px solid transparent;
				border-bottom: 30px solid transparent;
				border-left: 30px solid $sale;
				
				margin-left: -1px;
			}
			
			h3 {
				color: $sale;
				position: relative;
				padding: 0;
				top: -$pad*2;
				left: $pad + $pad/2;
			}
			
			p {
				color: $very-light-gray;
				position: relative;
				
				top: -$pad*3;
				left: $pad*2 + $pad/4;
			}
			
			#price {
				color: $very-light-gray;
				position: relative;
				top: -$pad*4;
				float: right;
				margin-right: 1%;
				
				.normal-price {
					color: $color;
				}
			}
		}
	}
}


@mixin image-bordered {
	width: 98%;
	padding: 1%;
	border: 1px solid $light-gray;
	background: $background url(ajax-loader.gif) no-repeat 50% 50%;
}


@mixin image-rounded {
	text-align: center;
	
	li {
		height: 12em;
		border-radius: 8em;
		padding-top: 2.5em;
		background: $blue;
		box-shadow: 2px 1px 1px $gray;
		border: 1px solid $blue;
		
		&:hover {
			box-shadow: 2px 1px 1px $color;
			border: 1px solid $color;
		}
	}
}






body {
	background: $background url(dotted_bg.png);
	
	.container {
	
		
		/* Fonts
		---------------------------------------------------
		*/
		
		font-family: 'Coda', serif;
		h1, h2 {
			font-family: 'Oswald', sans-serif;
		}
		
		
		
		
		
		/* Links
		---------------------------------------------------
		*/
		a, a:visited {
			color: $color;
			text-decoration: none;
		}
		#accordion a, #accordion a:visited {
			border-bottom: 1px dotted;
		}
		
		
		
		/* Price
		---------------------------------------------------
		*/
		
		.price, .normal-price {
			border: $light-gray;
			padding: $pad/4;
			-moz-border-radius: 10%;
			-webkit-border-radius: 10%;    
		}
		.price {
			background: $sale;
		}
		.old-price, .oldprice {
			text-decoration: line-through;
		}
		.normal-price {
			background: $blue;    
		}

		
		/* Navigation arrows
		---------------------------------------------------
		*/
		
		.image-navigation {
			position: absolute;
			
			font-size: 4em;
			text-align: center;
			width: 50px;
			height: 50px;
			border-radius: 30px;
			border: 1px solid $light-gray;
			cursor: pointer;
			
			display: none;
		}
		.image-navigation.left {
			background: $background url(left-arrow-black.png) no-repeat 50%;
		}
		.image-navigation.right {
			background: $background url(right-arrow-black.png) no-repeat 50%;
		}

		
		
		/* Tooltips
		----------------------------------------------------
		- syntax: <span class="tooltip">short text<span class="tooltip-text">long text .......</span></span>
		- styling tooltips is done inside #tooltip not .tooltip-text
		*/
		
		.tooltip {	
			cursor: pointer;
		}
		.tooltip-text {
			display: none;
		}
		#tooltip {
			background: $blue;
			padding: $pad;
			position: absolute;
		}
		#tooltip ul {
			list-style: none;
		}
		#tooltip ul li, #tooltip ol li {
			padding: $pad/4;
			margin: $pad/4;
			border-bottom: 1px dotted;
		}
		
		
		
		/* Search
		---------------------------------------------------
		*/
		#search-enhanced {
			@include block;
			background: $blue;
			
			h3 {
				margin-left: $pad/2;
			}
			
			ul {
				@include list-cart;
				margin: 0 $pad;
				
				li {
					background: $blue;
					border-bottom: 1px dotted $color;
					
					input[type="checkbox"]:after {
						content: "\2610";
					}
					input[type="checkbox"]:checked:after {
						content: "\25a3";
					}
				}
			}
			
			#submit {
				margin: $pad*2 0 $pad $pad;
				
				#advanced-search {
					font-size: small;
				}
			}
		}
		
		#trending {
			@include block;
			margin: $pad*4 0;
			
			h2 {
				width: 30%;
				float: left;
				margin-right: 3%;
				padding-right: 3%;
				border-right: 1px dotted;
			}
			
			#items {
				width: 55%;
				margin-left: 3%;
				float: left;
				
				.trend {
					font-style: italic;
					font-size: large;
					float: left;
					margin: $pad/2;
				}
			}
		}
		
		
		
		/* Header
		---------------------------------------------------
		*/
		
		#header {
			#cart.desktop {
				#widgetshoppingcart {
					background: url(stripe.png);
					padding: $pad;
					font-size: small;
					
					ul {
						@include list-cart;
						
						li#message {
							background: $cart;
						}
						li {
							a:hover {
								font-weight: bold;
							}
							strong {
								color: $sale;
							}
						}
					}
				}
			}
			
			hgroup {
				#logo {
					h1 {
						font-size: 3.5em;
						font-weight: bold;
						padding: $pad/4 0 0;
					}
				}
				
				#strapline {
					h2 {
						color: $sale;
						padding: $pad 0 0;
						font-weight: bold;
					}
				}
				
				#page-name {
					h1 {
						color: $gray;
						padding: $pad 0 0;
						text-align: right;
					}
				}
			}
			
			nav {
				border-top: 1px solid;
				border-bottom: 1px solid;
				padding: $pad/2 0;
				margin: $pad 0;
				
				ul {
					
					li {
						margin-right: $pad;
						
						a:hover {
							border-bottom: 1px solid;
						}
					}
					li.all-products-link {
						margin-right: 0;
						float: right;
					}
				}
			}	
		}
		
		
		
		/* Startpage
		---------------------------------------------------
		*/
			
		/* Hot
		---------------------------------------------------
		*/
		
		.home .image-navigation {
			display: block;
			top: 400px;
		}
		.home .image-navigation.left {
			margin-left: -20px;
		}
		.home .image-navigation.right {
			margin-left: 680px;
		}

		
		#hot {
			#slider {
				@include image-hot;
			}
			
			#thumbs {
				background: $background url(stripe.png);
				overflow: hidden;
				
				#items {
					height: 560px;
					overflow-y: scroll;
					position: relative;
					right: -30px;
					
					.item {
						padding: $pad/2 $pad;
						
						img {
							@include image-bordered;
							
							width: 100px;
						}
						
						.tooltip2 {
							position: relative;
							z-index: 1000;
							cursor: pointer;
							
							.tooltip-text {
								width: 86px;
								height: auto;
								min-height: 86px;
								top: -90px;
								position: absolute;
								
								background: $cart;
								padding: $pad/2;
								
								display: none;
							}
						}
						.tooltip2:hover {
							z-index: 1001;
							
							.tooltip-text {
								display: block;
								left: 0;
							}
						}
						
					}
				}
			}
		}
		
		
		/* Bestsellers
		---------------------------------------------------
		*/
		#bestsellers {
			#title {
				h3 {
					background: $color;
					color: $sale;
					padding: 0 $pad;
					margin: 0;
					text-transform: uppercase;
					font-weight: bold;
				}
				h3.first {
					padding-top: $pad;
				}
				h3.last {
					padding-bottom: $pad;
				}
			}
			
			#body {
				#filters {
					@include block;
					
					margin-bottom: $pad*3;
					padding-bottom: $pad;
					border-bottom: 1px solid;
					
					div {
						background: $color;
						
						h4 {
							@include pointer;
							padding: $pad/4 0;
							font-size: 1em;
							
							color: $gray;
							margin: $pad/2 0;
							text-align: center;
						}
						h4.active, h4:hover {
							color: $background;
						}
						h4.active:before {
							content: '\2713';
							margin-right: $pad/2;
						}

					}
				}
				
				#items {
					.item {
						@include bestseller;
					}
				}
			}
		}
		
		
		
		/* Search
		---------------------------------------------------
		*/
		#search {
			#title {
				background: url(arrow-black-top-right.png) no-repeat 1em 5em;
				height: 20em;
				
				h3 {
					font-family: 'Nothing You Could Do', cursive; 
				}
			}
		}
		
		

		/* Promo
		---------------------------------------------------
		*/
		#promo {
			#title {
				color: $background;
				
				#percent {
					width: 70%;
					float: left;
					background: $sale;
					
					text-align: center;
					font-size: 3em;
					padding: $pad/4 0;
				}
				#arrow {
					width: 30%;
					float: right;
					
					.arrow-right {
						width: 0;
						height: 0;
						line-height: 0;
						border-top: $pad solid transparent;
						border-right: $pad solid transparent;
						border-bottom: $pad solid transparent;
						border-left: $pad solid $sale;
						position: relative;
						top: $pad + $pad/4;
						margin-left: -1px;
					}
				}
			}
			
			#body {
				#items {
					.item {
						@include promo;
					}
				}
			}
		}
	
	
		/* Footer
		---------------------------------------------------
		*/
		
		#top-new-categories {
			ul {
				@include list-inline;
				@include image-rounded;
			}
		}
		
		#info {
			#contact {
				ul {
					list-style: none;
					margin: 0;
				}
			}
			
			#company {
				@include accordion;
			}
			
			#pages {
				@include accordion;
			}
		}
		
		
	}	
}




