/* Color Scheme
*/

$color: #363636;
$background: #fff;
$sale: #F25F18;
$cart: #8AEA4C;

$orange: #F25F18;
$blue: #4D8FCE;
$green: #8AEA4C;
$red: #F98751;
$error: #F98751;
$yellow: #F9B451;
$notice: #F9B451;

$gray: #AAA;
$light-gray: #ccc;
$very-light-gray: #f1f1f1;




/* Links
*/

a, a:active, a:visited, a:hover {
  color: $color;
  text-decoration: none;
}



/* Price
---------------------------------------------------
*/


@mixin price {
  border: $light-gray;
  padding: $pad/4;
}

.price, .normal-price, .old-price, .oldprice {
  border: $light-gray;
  padding: $pad/4 $pad/2;
  display: inline-block;
}
.price {
  background: $sale;
  color: $background;
}
.old-price, .oldprice {
  text-decoration: line-through;
  color: $light-gray;
  background: $background;
}
.normal-price {
  background: $blue;
}



/* Mixins
*/


@mixin subscribe-to-newsletter {
  border: 1px dotted;
  text-align: center;
  
  #text, #facebook-connect {
    margin: $pad;
  }
  
  input {
    text-align: center;
    margin-bottom: $pad/4;
    font-size: small;
  }
  
  input[type="submit"] {
    @include button($background, $color);
  }
}


@mixin product-description {
  padding: $pad;
  margin: $pad*2 0 0;
  
  background: $background;
  
  line-height: 1.75;
  max-width: 600px;
  font-size: 90%;
  
  br {
    margin-top: $pad;
    display: block;
  }
  
  ul {
    margin: 0 $pad;
    
    li {
      margin-bottom: $pad/2;
      padding-bottom: $pad/4;
      border-bottom: 1px solid $very-light-gray;
    }
  }
}


@mixin button($color, $background) {
  @include border-radius(6%, 6%);
  @include background-image(linear-gradient(center top, tint($background, 10%) 5%, shade($background, 10%) 100%));
  border: 1px solid shade($background, 5%);
  
  color: $color;
  @include single-text-shadow(#999);
  
  
  &:hover {
    @include background-image(linear-gradient(center top, shade($background, 10%) 5%, tint($background, 10%) 100%));
  }
}





@mixin add-to-cart {
  
  #add-to-cart {
   			    
    .imagecol {
      display: none;
    }
    
    .delivery {
      @include block;
			          
      span {
        background: $background;
      }
    }
    
    .cart-operations {
      @include block;
      margin: $pad/2 0;
      
      
      .wpsc_variation_forms {
        margin-top: $pad/2;
        
        .select {
          select {
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
            padding: $pad/4 0;
            margin: 0 0 $pad/2;
            
            font-size: 90%;
            
            width: 92%;
          }
        }
        .select:after {
          padding: $pad;
          margin: -3.4em $pad*2 0 -2.1em;
        }
        
      }
      
      .wpsc_product_price {
        
        .price {
          margin-right: $pad;
          padding: $pad/2;
        }
        .normal-price.on-sale {
          background: $sale;
        }
        .oldprice.on-sale {
          margin-right: 0;
          margin-left: $pad;
        }
        .old-price, .oldprice {
          background: $sale;
        }
      }
      
      .add-to-cart-button {
        display: inline-block;
        max-width: 20em;
        
        input[type="submit"] {
          @include button($color, $green);
        }
        
        #quantity {
          display: none;
          
          
          width: auto;
          float: left;
          width: 8em;
          
          font-size: small;
          
          margin-top: $pad/2;
          
          label.select {
            width: 10em;
            
            &:after {
              margin: -2.5em 3.35em 0 -2.5em;
            }
          }
        }
      }
      
      .checkout {
        display: none;
      }
      
      .wpsc_loading_animation {
        visibility: hidden;
      }
      
    }
    
    
    #product-discontinued {
      background: url(stripe.png);
      padding: $pad;
      margin-top: $pad;
      
      h3 {
        padding-top: 0;
      }
      p {
        margin-bottom: $pad;
      }
      
     input[type="submit"] {
        @include button($background, $color);
      }
    }
  }
 		
}


@mixin navigation-arrows {
  ul {
    @include list-inline;
    
    li {
      cursor: pointer;
      width: 15px;
      height: 29px;
    }
    
    #left {
      background: url(left-arrow-black.png);
    }
    
    #right {
      background: url(right-arrow-black.png);
    }
    
  }
  
}

@mixin arrow-to-reveal-content {
	content: '\003E';
	float: right;
	margin-left: $pad/4;
	color: $sale;
	
	@include rotate(90deg, .75);
}



@mixin close-icon {
  content: '\2612';
  margin-left: $pad/2;
  font-size: large;
}




@mixin product-thumb {
  background: $background url(stripe.png);
  padding-bottom: $pad;
  
  img {
    @include image-bordered(0%);
  }
  
  #title, #price {
    margin: $pad/2 $pad/4;
    background: $background url(background.png);
  }
  

  #title {
    padding: $pad/2;
    min-height: $pad*2 + $pad/2;
    
    h3 {
      padding: 0;
    }
  }

  #price {
    display: inline-block;
    padding-right: $pad/2;
    
    .normal-price {
      padding-right: 0;
    }
  }
}



/* Logo
------------------------------------------------------------------------------
  // - the formula for the logo width is:
  //    x - the number of cells
  //    z - the number of .small cells
  //    width: = (x-z)*cell_size + z*cell_size/2
*/

@mixin logo($size) {
  height: $size * 7;
  width: (24 - 2) * $size + 2*$size/2; 

  .cell {
    width: $size;
    height: $size;
    float: left;
  }

  .small {
    width: $size / 2;
  }

  .set {
    background: $color;
  }
  
  .square {
    background: $light-gray;
  }
  
  .smart-stuff-cell, .smart-stuff {
    display: none;
  }
  
  &:hover {
    width: (51 - 5) * $size + 5*$size/2; 
    
    .smart-stuff-cell {
      display: block;
    }
  }
  
}





